[2019-10-16 12:55] calintamas opened #6 "Android status bar has bottom shadow"
When status bar is white, there's a bottom shadow.

To fix this, set `elevation: 0` when toast message is hidden.

[2019-11-14 11:14] mav10 commented on #6
@calintamas as I understood it was not merged yet? Are you going to fix it

[2019-11-14 13:35] calintamas commented on #6
@mav10 Hope I'll have the time to fix it this weekend.

[2019-11-15 03:27] mav10 commented on #6
ok, thanks :)

[2019-12-10 08:48] calintamas commented on #6
fixed by #10

[2019-12-10 08:51] calintamas commented on #6
@mav10 available in release 1.2.3

[2019-12-10 08:51] #6 closed

[2020-02-23 23:09] SquareAi opened #11 "Change toast width?"
Thanks for this project!

Is there a way to modify the toast to take up the full width of the screen and not just the content?

[2020-02-28 08:53] calintamas commented on #11
Glad you like it!

You can render any custom component for success/error toast: https://github.com/calintamas/react-native-toast-message#render-custom-components.

The internal state is passed as props to your custom component.
[code]

[2020-03-11 11:08] calintamas commented on #11
@SquareAi Changed the API in `v1.3.0`.

Please take a look at the new docs - [here](https://github.com/calintamas/react-native-toast-message/tree/v1.3.0). You can now render any number of custom types.

[2020-03-11 11:08] #11 closed

[2020-04-17 23:39] Franky238 opened #14 "Unable to resolve module ./src on IOS when using Typescript"
![image](https://user-images.githubusercontent.com/3315390/79621897-62cb2c00-8115-11ea-8a45-08fccc57e8c2.png)

[2020-04-17 23:46] Franky238 commented on #14
Found an issue because i am using typescript it is expecting ts or tsx file but you have jsx as default index. you should add direct path ./src/index for fix this issue or add d.ts file also for typescript support

[2020-04-20 04:47] calintamas commented on #14
Hi, can you open a PR to fix this?

I'm caught up with work right now - I won't be able to take a look anytime earlier than next week

[2020-04-21 17:43] Franky238 commented on #14
My solution does not work :( still have no clue why this is happening. But looks like when you are running js version of react-native everything works fine. Wierd.

[2020-05-07 13:38] jpaas commented on #14
I worked around it by adding `jsx` to my `resolver.sourceExts` in my `metro.config.js`

[2020-06-01 07:12] calintamas commented on #14
@Franky238 @jpaas fixed by #23

released in `v1.3.1`

[2020-06-01 07:12] #14 closed

[2020-06-12 13:35] andreydos opened #27 "No icons for error and info"
Hello.
Thanks for good work!
I have one problem. When I not specify the type of toast or set it to "success" I got a success icon on the left side of my message, but if I change the type to error/info I get an empty white area on the left side of the message text.
Version 1.3.1 React-native version 0.62.2

[2020-06-16 09:32] calintamas commented on #27
@andreydos I'll take a look today

[2020-06-16 19:34] calintamas commented on #27
@andreydos everything seems to be working fine.

[code]

[2020-06-22 20:43] #27 closed

[2020-07-09 11:36] BrendanVadacoraBell opened #34 "Show Toast above Modals"
Great library. A feature I require, and I think many will too, is that the Toast can show above RN modals.

The use case is to have a single instance of the `Toast` component in the app, that is then shown via the `Toast.show` command. If I open a modal and while that modal is still open I show a toast, it currently opens behind the modal mask. Playing around with `zIndex` and similar hacks doesn'

[2020-07-17 15:45] sdumjahn opened #35 "Toast Message does not hide completely if dynamic height is greater then 60"
Each time you call `Toast.show()` the value of `height` in the internal state is set to 60 ([src/index.js line 164](https://github.com/calintamas/react-native-toast-message/blob/master/src/index.js#L164) with line [38](https://github.com/calintamas/react-native-toast-message/blob/master/src/index.js#L38)).

There is the function `onLayout` which sets the value of `state.height` to the real height

[2020-07-20 09:36] sdumjahn commented on #35
The same problem occurs on other layout related fields as well (e.g. topOffset, bottomOffset).
So I question, why the reset of the layout is necessary? In my case it only produces problems.

[2020-07-22 07:49] gertvdkolk opened #37 "Feature request - Stackable Toast messages"
Hi!

First of all, thank you for making this component. It's very convenient.
I just installed it and it works great out of the box.

What I noticed is that whenever I fire a second toast message, it reuses the original toast message. Is this correct?
Can this perhaps made to be  so that multiple messages can be shown?
For example, like in this codepen: https://codepen.io/osublake/pen/YyLZKV

Than

[2020-07-23 19:17] calintamas commented on #34
Hi @BrendanVadacoraBell. Unfortunately, this is not possible due to the way `Modal` is implemented in RN (a view that's above everything else).

[2020-07-27 11:11] #34 closed

[2020-07-27 11:32] BrendanVadacoraBell commented on #34
Hi @calintamas, [here is an example of a library that does what I expect](https://www.npmjs.com/package/react-native-simple-toast), just the customization and API isn't as good as this. Perhaps it will give some insight on how to achieve this functionality.

[2020-08-04 08:01] calintamas commented on #35
@sdumjahn Hi, sorry for the late response, been caught up for a while now. I'll take a look

[2020-08-04 08:11] calintamas commented on #37
@gertvdkolk Hi, glad you like it :)

The behavior I wanted to achieve was "hide the toast, then make it visible again with the new message". I wasn't really part of the plan to have stackable toast views, so from this point of view, it works as intended.

If you want to pick it up, we can discuss about developing this additional presentation mechanism.

[2020-08-04 09:22] HeroSony opened #41 "Damping value must be grater than 0"
Sometime when I moved from screen while toast message not yet hided and back to another screen and draged it to hide, it show error message 'Damping value must be greater than 0'.

[2020-08-04 10:01] HeroSony commented on #41
I've checked on src/index.js file
[code]
After changed speed option to position value it's not getting error anymore.

[2020-08-04 10:01] #41 closed

[2020-08-14 20:00] calintamas commented on #35
@sdumjahn published your solution in [v1.3.2](https://github.com/calintamas/react-native-toast-message/tree/v1.3.2)

[2020-08-14 20:00] #35 closed

[2020-08-26 09:41] akshitrcrm opened #43 "Shadows not visible on Android"
in v1.3.2
Missed `elevation` property in styles. They show in iOS.
In src/components/base/styles.js
In base object, if I provide elevation, it works.

[2020-08-27 12:05] BogdanHossu commented on #41
This is an issue that I am currently having, seems like it occurs only if you set the position to bottom so the vy should be reversed. @calintamas we could basically just have `speed: position === 'bottom' ? vy : -vy` or maybe i'm missing something?

[2020-09-02 15:48] calintamas commented on #43
elevation was removed due to #6

[2020-09-03 16:26] calintamas commented on #43
@akshitrcrm Indeed, it was weird, but it's some Android layout bug I suppose (related to elevation + absolute positioning).
As for a workaround, I'm not sure, maybe a dark gray border?

[2020-09-08 20:55] arnnis commented on #37
I found this thread looking for a name for my lib :)
I just published [react-native-fast-toast](https://github.com/arnnis/react-native-fast-toast). it supports stackable toasts but with android toast like UI.

[2020-09-15 18:18] mdccg opened #49 "[Unhandled promise rejection: Error: Objects are not valid as a React child (found: object with keys {}). If you meant to render a collection of children, use an array instead.]"
Hey, y'all! I'm trying to find out what's throwing this exception:

[code]

I don't know why, but it's pointing App.js:91:

`<Toast ref={(ref) => Toast.setRef(ref)} />`

But I don't know if this is a problem with `react-native-toast-message`... May you help me? 🥺

This is my `App.js`:

[code]
* I've changed a lil' bit to fit in this issue.

[2020-09-16 14:48] calintamas commented on #49
Hi @mdccg, thanks for using the library!

Make sure `text1` and `text2` are always strings
[code]

[2020-09-19 00:54] mdccg commented on #49
Thank you! It worked. <3

[2020-09-19 00:54] #49 closed

[2020-09-21 23:58] oscarcornejo opened #50 "How can I change style of Toast?"

[2020-09-23 15:22] calintamas commented on #50
@oscarcornejo https://github.com/calintamas/react-native-toast-message#customizing-the-toast-types

[2020-09-25 09:58] Dallas62 commented on #50
Hi @calintamas
I'm running into the same issue.
If I want to change some values of the style (text-size), I don't have other choices than recreate the whole component which provide a bad developer-experience.
The initial design is great but allow some adjustment would be cool !

[2020-09-27 05:36] DerekFei commented on #43
@calintamas I think provide a style prop allowing us to change background color and border would be good enough

[2020-09-27 05:52] DerekFei commented on #43
I just created a PR to fix this issue: https://github.com/calintamas/react-native-toast-message/pull/51

[2020-09-28 07:16] nguyenductoan1995 opened #53 "icon not show on IOS"
![Screen Shot 2020-09-28 at 14 15 21](https://user-images.githubusercontent.com/24264218/94401730-3ec84800-0195-11eb-96db-19613c76c24d.png)

[2020-10-01 14:40] mariobrubio opened #62 "Cannot read property show of undefined"
Hi,

I'm trying to show the toast but the show function keeps telling me that the Toast is undefined, I'm including the toast inside my App.js and then calling it with
`Toast.show({
      text1: "hello",
    });`

[2020-10-01 17:32] calintamas commented on #50
@Dallas62 Hi, thanks for the feedback!
I'll think of a way to support that, while keeping the current method of customizing types. Maybe exporting each default component and allowing style props for them.

[2020-10-01 17:35] calintamas commented on #62
Hi @mariobrubio
Are you setting the ref in Root?

Docs here https://github.com/calintamas/react-native-toast-message#usage

[2020-10-01 18:04] calintamas commented on #43
@DerekFei @akshitrcrm merged, released in `v1.3.4`

[2020-10-01 18:04] #43 closed

[2020-10-04 15:51] AmmarKhan21 opened #63 "Hi, I'm trying to show the toast but the show error ref.show cant be undefidend,"
can you kindly help me how i can add ref in root in expo . i create this Root component and also try expo api to register it root named registerRootComponent bur same error kindly can you help me?

[2020-10-05 12:39] calintamas commented on #63
Hi @AmmarKhan21
Can you put the code here?

An example of the way it should be added is here - https://github.com/calintamas/react-native-toast-message#usage

[2020-10-06 13:24] sahilvicesoftware opened #64 "Unable to close Toast using the cross icon"
Unable to close Toast using the cross icon

[2020-10-07 07:01] vick16ach commented on #63
@calintamas what is root ? where to put that file ?

[2020-10-07 07:38] vick16ach commented on #62
@calintamas  Where to place the root.jsx file is important information it seems.

[2020-10-07 08:02] calintamas commented on #62
@vick16ach by root I mean the entry point in your app

[2020-10-07 08:07] vick16ach commented on #62
Entry point is App.js and i'm using StackNavigator there. How can i paste this code in that file ? It is already returning App !

[2020-10-07 08:17] calintamas commented on #62
you can do it like this
[code]

[2020-10-07 08:28] vick16ach commented on #62
My code looks like this
[code]

[2020-10-07 09:21] calintamas commented on #62
you can render it outside the nav container
[code]

[2020-10-07 10:12] #63 closed

[2020-10-07 10:14] AmmarKhan21 commented on #63
i manged to git rid error but i not able to use it because when i used it in component it shows below ny my content and remain sticky so i left this package and use similar version of toast which is provided by expo

[2020-10-07 10:34] vick16ach commented on #62
Hey, can you kindly tell me what is Toast in <Toast ref={(ref) => Toast.setRef(ref)} /> . Where do i import it from ?

[2020-10-07 11:13] sahilvicesoftware commented on #64
It worked.Was a z-index issue

[2020-10-07 11:13] #64 closed

[2020-10-07 12:46] calintamas commented on #62
[code]

[2020-10-07 15:25] JosieN92 opened #65 "Implement with KeyboardAvoidingView?"
I wanted to try and use this where the error would show above the on-screen keyboard if a user was entering text? But then appear at the bottom again if the keyboard is dismissed.

I've tried adding Toast.show etc. within a KeyboardAvoidingView but that doesn't seem to work.

Any thoughts?

[2020-10-08 04:53] vick16ach commented on #62
This is really very confusing thing. Whats the purpose of root.jsx then, Where it is being used. What this whole concept is about in javascript. A proper documentation is necessary it seems.

[2020-10-08 07:22] calintamas commented on #62
@vick16ach `Root` is the entry point in your app (I called it "root" for convenience, it can be called anything). To be able to "call" the `Toast` in any screen, you have to render it in the entry point (the "root") and set a reference to it. So, you entry point becomes:

[code]

Then on any screen you want to "call" the `Toast`, you only need to import the library and call `Toast.show`

[code]

[2020-10-08 07:24] calintamas commented on #65
@JosieN92 Indeed, that use case is not covered. So it's not possible at the moment.
I'll mark it as an enhancement, thanks 👍

[2020-10-08 07:48] vick16ach commented on #62
Oh This is so simple, I'm very new to react native and confused a lot. I think it would be better to change root.jsx as app.js and mention it as entry point file.  So, There would be no confusions for beginners. Thank you

[2020-10-08 08:01] calintamas commented on #62
Sure, no worries 👍

[2020-10-08 08:08] #62 closed

[2020-10-08 10:45] YogiGaxon opened #66 "Is there any to update showing toast message, info type to success type Toast?"

[2020-10-15 10:44] VanTigranyan opened #67 "Doesn't show at all"
Hey @calintamas . I have a problem with this package. After installing I have tried to call the show function in different modules in my react-native app. But the toast doesn't show up at all, nowhere. I guess that is because of react-navigation and the usage of stack-navigator, and the message shows up under the screens. Is this problem a common one? And is there a solution? I can find nothing, b

[2020-10-18 14:05] mtalhagaoglu opened #68 "custom icon and color"
Hi. I am using this lib for my 2 projects and i love how it works but it would be awesome if i can change icon and color. I know i can give custom configs but its not i said. for example
[code]

[2020-10-18 18:30] nshah-97 opened #69 "How to dismiss custom toast message?"
When creating custom toast components, how can they be dismissed?

[2020-10-18 18:47] #69 closed

[2020-10-20 02:55] artak1995 commented on #67
same

[2020-10-20 07:35] calintamas commented on #67
As long as the `Toast` is rendered in the entry point alongside navigation, it should show up.

Can you paste here the code from the entry point of your app?

[2020-10-23 10:44] #53 closed

[2020-10-23 10:45] calintamas commented on #66
@YogiGaxon only by triggering another `show`. It will hide the current one, and render the new one

[2020-10-25 19:25] MesterLum commented on #67
I'm getting almost the same problem with it. I can't show up the Toast.

[2020-10-29 12:25] pdugan20 opened #70 "Setting position: 'bottom' animates from top the first time the toast appears"
![1](https://user-images.githubusercontent.com/1837100/97573285-e23c9080-19bf-11eb-86e2-7d8caa5d760a.gif)

I'm rendering this in my appNavigation with:
[code]

and then calling with:
`Toast.show({`` text1, position: 'bottom', type: 'success' });`

Any ideas?

[2020-10-29 12:42] pdugan20 commented on #70
I can solve for this by firing an invisible toast when the app first loads that sets the position to bottom, at which point all subsequent visible toasts animation from bottom. Is there a better way to do this?

[2020-10-30 18:19] JDBONFOR opened #71 "I can't install library."
Hi guys, I can't install library on my Expo project because I show message on my code that say: **Could not find a declaration file for module 'react-native-toast-message'. .../node_modules/react-native-toast-message/index.js' implicitly has an 'any' type. Try `npm install @types/react-native-toast-message` if it exists or add a new declaration (.d.ts) file containing `declare module 'react-native

[2020-10-30 18:30] nikosantis commented on #71
I have the same problem!

[2020-10-30 19:08] brvhprince commented on #67
Add the toast reference at the of the Navigation Container

`<NavigationContainer>

//navigation screens and other stuffs

 <Toast ref={(ref) => Toast.setRef(ref)} />
</NavigationContainer>
`

If you have a provider inside the NavigatioContainer, add it as the last child in the Provider.

[2020-11-02 08:03] calintamas commented on #70
Hi @pdugan20, thanks for using the lib!

Can you paste `toastConfig` here? Is your custom `type: success` having some animation or absolute positioning?
Also, what you can try is to render the default `success` type and see if you can reproduce the issue. In this way, we could maybe narrow it down

[2020-11-02 08:03] calintamas commented on #71
I'll take a look, thanks for raising it!

[2020-11-05 13:31] yoansj opened #78 "Text strings must be rendered within a <Text> component"
Hi,

Whenever I use the Toast component I get a huge ```Error: Text strings must be rendered within a <Text> component.``` error.

I used it in my App.js file as recommended :

[code]
If I erase the Toast line my app works perfectly.

If anyone has an idea hit me up :smile:

[2020-11-05 19:58] calintamas commented on #78
Hi @yoansj, check if this solves the issue - https://github.com/calintamas/react-native-toast-message/issues/49#issuecomment-693456702

[2020-11-05 22:31] xmflsct commented on #67
@brvhprince method works. So I have:
[code]

[2020-11-06 19:20] JamesPerlman opened #79 "Allow arbitrary data to be passed into Toasts"
This would be super useful for custom UI's that need more than 2 text fields to configure (like an onPress handler, for example).

Proposal:

A custom toast component:
[code]

Toast declaration with config:
[code]

Showing Toast with props:
[code]

This could be easily achieved by just adding the value 'props' to the `keys` array starting at line 263 of `src/index.js`

Curious to know what you thi

[2020-11-08 21:00] Jery972 commented on #71
got the same message also :x

[2020-11-10 17:52] sparesh21 opened #80 "How can I use it in react native app."
I am new user for react native. Can you please tell the steps.

[2020-11-11 00:02] catodapice commented on #71
same here

[2020-11-11 04:01] troyvnit commented on #79
I created the PR to resolve this issue here https://github.com/calintamas/react-native-toast-message/pull/81 . Please review and merge if you think it's useful.

[2020-11-12 10:41] ariesbrylle-bms opened #82 "null is not an object (evaluating 'this._ref.show')"
Here's my code in app.js

`const App = createAppContainer(switchNavigator);

export default () => {
  return (
    <AuthProvider>
      <Toast ref={(ref) => Toast.setRef(ref)} />
      <App
        ref={(navigator) => {
          setNavigator(navigator);
        }}
      />
    </AuthProvider>
  );
};`

Here's my code on my login.js that uses notification.

`const LoginScreen = ({ navigation }) =>

[2020-11-12 15:08] dmlux opened #83 "TypeScript support"
Hi,

is there the possibility to add TypeScript support to this module?

[2020-11-12 17:56] moussouba commented on #82
Hi guy, uninstall `npm uninstall react-native-toast-message` and reinstall with `yarn add react-native-toast-message` it work for me

[2020-11-13 10:54] #79 closed

[2020-11-14 00:26] pdugan20 commented on #70
Yup, toastConfig looks like:
[code]

and the component itself is using absolute positioning. Assuming this is incompatible when the positioning is absolute?

[2020-11-14 03:56] ariesbrylle-bms commented on #82
will try. Thank you.

[2020-11-14 08:43] calintamas commented on #70
Yes, no need to use absolute positioning on `ToastComponent`. Try without and let me know

[2020-11-14 11:48] pdugan20 commented on #70
OK thats grat to know. Is there an easy way to make the toast full width then?

[2020-11-14 21:47] calintamas commented on #70
Sure, go with a `width: 100%` on `ToastComponent`

[2020-11-15 07:12] ariesbrylle-bms commented on #82
zsh: command not found: yarn

That's the error I received. Will there be a problem if I'm using npm then switch to yarn?

[2020-11-15 10:41] moussouba commented on #82
install yarn through [this link](https://classic.yarnpkg.com/en/docs/install/#debian-stable)

[2020-11-16 05:37] ariesbrylle-bms commented on #82
Hello, I was able to use yarn instead of npm. I will now close this issue. Thank you very much for your help.

[2020-11-16 05:38] #82 closed

[2020-11-18 19:22] gsavvid opened #85 "Bring on top of modal"
Hi, thanks for this nice library.

In our app we use modals to show bottom sheets which cover about 80% of the screen. If we show the Toast while one of these modals is open, then the Toast is shown behind the modal. Is there a way to bring the Toast on top of every other modal?

Thanks in advance.

[2020-11-21 05:57] caleb-harrelson opened #86 "Add an `onPress` to BaseToast"
As far as I can tell, there isn't a way to keep the default toast formatting and also add an `onPress` to the toast while still keeping the ability to dismiss it.

My use case is for duplicating the behavior of notifications that deep link within the app when clicked. When the app is active I'm using toasts to show the notifications and want the user to be able to either navigate to that part of t

[2020-11-22 10:43] YanrongXu opened #87 "Can you add the styles change for the fontsize of text1 and text2"

[2020-11-23 13:33] calintamas commented on #87
Hi @YanrongXu . Yes, I'm thinking of this approach https://github.com/calintamas/react-native-toast-message/issues/50#issuecomment-702287695

I'll try to implement it soon

[2020-11-23 13:34] #66 closed

[2020-11-23 13:36] calintamas commented on #80
Hi @sparesh21, take a look at this thread https://github.com/calintamas/react-native-toast-message/issues/62

[2020-11-23 13:36] #80 closed

[2020-11-23 13:37] #67 closed

[2020-11-23 13:37] #70 closed

[2020-11-23 13:37] #78 closed

[2020-11-23 20:42] pdugan20 opened #88 "Is there a way to make this animate from beneath a react-navigation tab bar?"
Is there a way that I can get this to animate from beneath the react-navigation tab bar instead of animate in over the top of it? I can get it to render from behind by passing it in on individual screens rather than up at my AppNavigator, but then I lose the ability to call it from different stacks within the TabNavigator.

[2020-11-23 21:06] pdugan20 commented on #88
![Nov-23-2020 13-03-03](https://user-images.githubusercontent.com/1837100/100015136-533b5200-2d8c-11eb-950d-51f158e8b2ed.gif)

Here's an example. So if I render the toast down inside the "Home" stack, it animates from beneath the bottom tab bar, but I can't access it inside any of the other stacks. However, if I render it in my AppNavigator, I can access it from any stack but then it always animat

[2020-11-24 08:55] rogerkerse commented on #82
This issue still exists with more common npm install so its not a viable solution

[2020-11-24 09:01] rogerkerse opened #89 "null is not an object (evaluating 'this._ref.show')"
After npm installing this library, the given code doesn't work.

`<Toast ref={Toast.setRef} />`

and after initialisation calling `Toast.show({ text1: "Hello" })` // error thrown.

I also added a log into setRef to see if it gets the reference, it does, but calling getRef() after it returns null.
There was a suggested solution of using yarn instead of npm, but that is not an option since npm is wa

[2020-11-24 11:26] rogerkerse commented on #89
I created pull request for it https://github.com/calintamas/react-native-toast-message/pull/90

[2020-11-24 13:17] calintamas commented on #89
Thank you @rogerkerse.
Published in [v1.3.5](https://github.com/calintamas/react-native-toast-message/releases/tag/v1.3.5)

[2020-11-24 13:17] #89 closed

[2020-11-24 13:18] calintamas commented on #82
With @rogerkerse's contribution, published the fix in [v1.3.5](https://github.com/calintamas/react-native-toast-message/releases/tag/v1.3.5)

[2020-11-24 13:24] calintamas commented on #79
published @troyvnit 's changes in `v1.3.5`

[2020-11-24 20:30] pdugan20 commented on #88
I was able to solve for this by rendering the Toast component conditionally at the top of each Stack.Navigator based on whichever stack was focused at a given time. A little inelegant, but seems to be working fine.

[2020-11-25 18:00] ingerable opened #91 "Cannot access props for custom toast"
Hello, internalState.props is undefined. When i'm logging internalState I do not see my props even though I filled the props attribute in options array. I wanted to pass a callback function but I can't make it work with a string. Am I doing something wrong ?

## Toast.show()
[code]

## Toast config

[code]

## Console.log(internalState)

[code]

Version: "react-native-toast-message": "^1.3.4"

[2020-11-25 18:02] ingerable commented on #91
The toast is showing correctly
![Screenshot_1606327254](https://user-images.githubusercontent.com/26652057/100265493-a1994e00-2f50-11eb-8834-a47afba05292.png)

[2020-11-25 19:16] calintamas commented on #91
@ingerable Hi, make sure to upgrade to `v1.3.5` - that's the version where custom props were introduced

[2020-11-25 19:50] ingerable commented on #91
I upgraded to 1.3.5,  I removed my nodes_modules and I cleared the metro bundler cache but I still got the same issue. I checked my index.js file in the library and it is the same as the one on the 1.3.5 git branch (with the latest commit modification this._ref => Toast._ref)

[code]

[2020-11-25 20:22] calintamas commented on #91
Make sure it's not some bundler cache somehow. I just tested and it seems to be fine

[2020-11-25 20:25] calintamas commented on #88
Glad you found a way! Honestly, I'm not sure if there's any alternative

[2020-11-25 20:32] pdugan20 commented on #88
Thanks for the response! I'll go ahead and close.

[2020-11-25 20:32] #88 closed

[2020-11-26 11:22] ingerable commented on #91
Upgraded to 1.3.6. It's working now, thank you

[2020-11-26 11:22] #91 closed

[2020-11-26 17:54] akmjenkins opened #92 "With react-native-screens"
I can't display this using react-native-screens. But if I simply add a zIndex to your base styles it works just super.

Before I create a PR, I feel like I must be missing something. Is there a way to alter the base style right now?

[2020-11-28 16:04] ingerable opened #95 "Old state value with callback function given to toast"
I wanted to pass a callback function to my toast message but it seems that the state bind to my callback function is an old version of the state that is not updating when I make changes to it. I couldn't tell if this is related to react native or the library. Is there any workaround or am I just making a mistake ?

## Toast config (I'm using cancel_delete)
[code]

## Toast show

The value between

[2020-11-29 00:40] mu1664al-s opened #96 "TypeError: null is not an object (evaluating 'Toast._ref.show')"
I am getting this error when I am trying to prompt a message. I am using expo version 39.0.2 with the following packages.
react: 16.13.1
react-native: 0.63
react-native-toast-message: 1.3.6

I am also using ui-kitten and redux. The component is placed inside the inner layer (redux).

My app root looks like this:

[code]

[2020-11-29 13:16] calintamas commented on #95
@ingerable is it the same if you create the callback just above calling `Toast.show`?
[code]

[2020-11-29 17:29] ingerable commented on #95
No, if I create the callback above I can access the correct state. Thanks for the answer. I suppose the state is bind to my toast callback before the state change ?

[2020-11-30 10:46] khelifioussama opened #97 "Could you add text styling , background and color modify for toast"

[2020-11-30 11:28] matheuscastroweb opened #98 "Change default toast settings"
In the `topOffset` parameter I needed to add `getStatusBarHeight()` + `value` to all my `Toast.show` to work on other devices correctly.

Adding this type of configuration to your instance would be nice.

`<Toast ref={(ref) => Toast.setRef(ref)} />` on here.

From what I read the config does not satisfy this request, just to create new toasts.

[2020-11-30 14:01] calintamas commented on #98
I agree. I'll add `topOffset` and `bottomOffset` as props in the next version.
Thanks for your suggestion!

[2020-11-30 14:03] calintamas commented on #97
Related to https://github.com/calintamas/react-native-toast-message/issues/50#issuecomment-702287695

[2020-11-30 14:09] spidi123q commented on #83
@calintamas
I think this can be closed now

[2020-11-30 16:52] calintamas commented on #92
published in `v1.3.7`

[2020-11-30 16:52] #92 closed

[2020-11-30 16:52] calintamas commented on #83
Indeed, thank @spidi123q. Published in `v1.3.7`

[2020-11-30 16:52] #83 closed

[2020-11-30 16:55] calintamas commented on #85
@gsavvid Only by rendering the Toast inside the Modal, as far as I know

[2020-11-30 16:56] calintamas commented on #71
Type declaration has been added in `v1.3.7`. Please re-check

[2020-11-30 18:38] nathanqueija opened #99 "No toast is shown in the app"
Hello, hope you all doing well and safe.
I installed the library, added the Toast component, and set the ref but when I call the show method nothing is shown on the screen.
I can reach the ref and see all the methods I call on it so I definitely have the reference to the Toast object. Any clues on what might be the problem?
I have the latest version installed: 1.3.7

[2020-11-30 18:49] nathanqueija commented on #99
This is the current state of the Toast object when I call the show method. I can see that the notification is reaching the object, but the `isVisible` value is always false:

![image](https://user-images.githubusercontent.com/8295374/100651058-2a472e00-3345-11eb-8aef-f9ab87cfc051.png)

[2020-11-30 18:57] nathanqueija commented on #99
Nevermind. This is already answered here https://github.com/calintamas/react-native-toast-message/issues/67 and it works fine.
The issue is the use altogether with react navigation.
Thanks for the attention

[2020-11-30 18:57] #99 closed

[2020-12-01 10:15] #85 closed

[2020-12-01 10:42] khelifioussama opened #104 "How can we use multiple Toast at the same time"
if I have 2 Toasts , I receive only the Last Toast

[2020-12-01 14:04] #95 closed

[2020-12-01 19:42] mu1664al-s commented on #96
Should I provide more information?

[2020-12-01 20:18] peppepol commented on #96
Same problem, but I used Toast.show({ ... })

[2020-12-01 22:18] caleb-harrelson commented on #86
I [forked the repo](https://github.com/StratusCode/react-native-toast-hook) and made a couple small changes... 😳

- It's been rewritten entirely in typescript (#71) with a new API using react context and hooks.
- Added ability to [set global defaults](https://github.com/StratusCode/react-native-toast-hook#global-customizations) for toasts on the ToastProvider (#50, #68, #97, #98).
- All internals

[2020-12-06 10:27] #50 closed

[2020-12-06 10:29] #68 closed

[2020-12-06 10:29] #87 closed

[2020-12-06 10:29] #97 closed

[2020-12-06 11:04] calintamas commented on #86
@caleb-harrelson nice! I added the `onPress` as well, with a slightly different api

[2020-12-06 11:04] #86 closed

[2020-12-06 11:05] calintamas commented on #96
Hi @mu1664al-s, where are you calling `Toast.show()`?

[2020-12-06 11:35] mu1664al-s commented on #96
I just updated to the newest version (1.3.7) and everything works fine now. I was calling it inline, inside a React Component function.

[2020-12-06 11:39] #98 closed

[2020-12-06 11:40] calintamas commented on #96
Ok, glad it works! I'm closing this issue

[2020-12-06 11:40] #96 closed

[2020-12-06 15:20] caleb-harrelson commented on #86
I like it. Looks like you solved the collisions with swipe to dismiss too, awesome!

[2020-12-06 16:07] #65 closed

[2020-12-06 16:14] #71 closed

[2020-12-06 21:02] dpnick opened #109 "Trouble with import on typescript project"
Hi everyone,
Thanks for your work, i was exactly looking for it 👍
It works really great if i use a "normal" use case, but as soon as i want to custom it using the config prop i have some troubles (i'm using typescript) :

1. Actually, if i try to access to the config prop on the Toast JSX component i have the following error :
[code]

2. When i try to import BaseToast i have the following error :

[2020-12-06 22:29] caleb-harrelson commented on #109
The typescript declarations were manually created via a pull request (the library is not written in typescript). The errors you are getting are because the declarations have not been updated for the new version’s features.

[2020-12-07 10:21] hossein-ghanbari opened #110 "not working auto detect text direction"
In the new version, a code has been added that causes the not working auto detect text direction.

src/components/base/styles.js
line 30

or provide a way for us to add just style to text1 and text2

tank you

[2020-12-07 19:26] dpnick commented on #109
Oh ok i understand, could you tell me if this is in your backlog ?
Thanks for your help and for your quick answer!

[2020-12-07 20:20] calintamas commented on #109
Hi @dpnick, updated type declaration in [v1.4.1](https://github.com/calintamas/react-native-toast-message/releases/tag/v1.4.1). Please let me know if it works

[2020-12-08 13:03] dpnick commented on #109
Hi @calintamas, i can now have access to config prop and BaseToast but i have another issue trying to custom with BaseToast :
`Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined.`

I looked at your index.d.ts and i think this problem comme from the export of BaseToast, you did it like :
`  export const BaseToast: R

[2020-12-08 16:31] caleb-harrelson commented on #109
That's a typescript shortcut for "functional component that accepts props of type `BaseToastProps`", so the exported type is already a function, not an element as was the problem in the linked issue.

[2020-12-08 19:44] calintamas commented on #110
You can change any styles on the default toast using `BaseToast`
https://github.com/calintamas/react-native-toast-message#change-default-toast-style

But what exactly is wrong? Can you describe the expected output vs the actual output?

[2020-12-08 19:50] dpnick commented on #109
Ok thanks, any ideas ?
@calintamas if you need my code to reproduce let me know!

[2020-12-08 20:18] calintamas commented on #109
@dpnick yes, that would help

[2020-12-08 20:41] dpnick commented on #109
Actually it was pretty simple (based on your example from the documentation) :
`
import Toast, { BaseToast, BaseToastProps } from 'react-native-toast-message';

  const toastConfig = {
    success: ({ text1, text2, ...rest }: BaseToastProps) => (
      <BaseToast
        {...rest}
        style={{ borderLeftColor: 'pink' }}
        text1={text1}
        text2={text2}
      />
    )
  };

export de

[2020-12-09 07:35] akshitrcrm opened #112 "missing automated test props in base toast components"
Can we add testId props to the base toast UI Components?

[2020-12-09 08:25] hossein-ghanbari commented on #110
When I use the BaseToast , I have to define all the details from the beginning (like the icon and the border color) and this is not necessary. Because for example I just want to change the font size.

[2020-12-09 10:23] calintamas commented on #110
You can customize only what you need:
[code]

[2020-12-09 10:28] calintamas commented on #112
Not at this point, but thanks for the suggestion. I'll provide a way to add extra props to all primitives from `BaseToast` in the next version

[2020-12-09 14:38] caleb-harrelson commented on #110
The icon, color, etc. is defined in SuccessToast, ErrorToast, and InfoToast, which are not exported, so those values must be supplied manually to BaseToast when customizing the success, error, and info types.

Exporting those default toast types would fix his issue as one could import the actual default toast and provide only style updates.

[2020-12-11 10:41] trbsi commented on #96
If someone gets the same error I fixed it by adding <Toast> to App.js
[code]

[2020-12-11 11:42] louisholley opened #113 "onPress events don't work with custom toast components"
whether using `BaseToast` or my own component with `TouchableOpacity`, the `onPress` events are not firing. I think this is probably to do with the PanResponder in the root component. can anyone help?

[2020-12-14 11:10] florinlazau commented on #113
any updates here? We are facing the same issue :(

[2020-12-14 12:21] tgreco commented on #113
onPress is not working for me with default component.

[2020-12-14 12:46] tgreco commented on #113
Removing {...this.panResponder.panHandlers} fixed the onPress issue.

[2020-12-14 17:47] FrancisLeigh commented on #104
Yes, this feature would be great!

[2020-12-14 17:51] FrancisLeigh commented on #37
Yeah this would be great!

[2020-12-15 00:05] JamesPerlman commented on #113
For a quick & dirty fix, src/index.js can be changed like so.  change the onMoveShouldSetPanResponder function to be something like this:

[code]

[2020-12-15 08:24] calintamas commented on #113
A few questions so we can pinpoint the issue:
1. Are you on the latest version (v1.4.1)?
2. Is it platform specific? If so, what platform?

Can you post a reproducible code sample? For example, this works fine on my side:
[code]

(Also, removing pan responders is not a fix - would remove the swipe to dismiss)

[2020-12-15 08:29] calintamas commented on #109
@dpnick try setting the config arg type to `any`, since it does not exactly represent `BaseToastProps` - it has extra keys like `position`, `type`, `hide`, `show` etc

[code]

If you have a suggestion on how to do this better, let me know

[2020-12-15 10:36] jjapko commented on #113
I've encountered same issue: no press event is being fired. I've tried it with code provided above. It seems to be platform specific. I've tested it on real device and emulators. On emulators with Android 11 and 9 it works correctly while there seems to be an issue on real device (Android 9 here). @JamesPerlman suggestion seems like a temporary fix.

[2020-12-15 11:20] louisholley commented on #113
@calintamas

1. yes
2. happening for me on iOS simulator, using expo if that's relevant

I have a `CustomToast.tsx` file that looks like

[code]

I then import that in `App.tsx` and render

[code]

also regarding your last comment the pan responders don't need to be removed, but `onMoveShouldSetPanResponder` should return false when the gesture is a tap which I believe is what @JamesPerlman implem

[2020-12-15 12:31] tgreco commented on #113
I have the latest version and I only tested on iOS.
It is happening on iOS simulator and real device.

I have a bare RN project, no expo.

[2020-12-15 13:04] calintamas commented on #113
For the time being, I'll add @JamesPerlman's solution as a quick patch

[2020-12-15 13:14] #113 closed

[2020-12-15 13:17] calintamas commented on #113
published in `v1.4.2`

[2020-12-17 19:11] CostinBiserica opened #114 "Toast.Hide() not working as expected"
I have created a custom config as follows:
`toast_vizualiare_grafic: (internalState) => (
      <View style={styles.toast_vizualizare}>
        <View style = {{height: '100%', flexDirection: 'row'}} >
          <View style={styles.margine_toast}></View>
          <View style = {{justifyContent:'center', alignItems: 'center', margin:5}}>
            <Ionicons name="ios-information-circle-outline" s

[2020-12-17 19:16] #114 closed

[2020-12-17 19:17] CostinBiserica commented on #114
I apologize for opening another issue. I have used the workaround presented in #113

[2020-12-21 15:20] sunaryohadi opened #115 "Warning using toastConfig"
Get warning using toastConfig ....

[code]

I think it's need to change **ViewPropTypes.style** to **Text.propTypes.style**

[code]

[2020-12-26 19:56] JessicaYeh opened #116 "onHide in Toast.hide({ onHide }) is never called"
The TypeScript definition for the .hide function suggests there is an onHide callback function available, but if you try to use it, it is never called.

[code]

[2020-12-27 19:06] xavhoff commented on #67
This should be written somewhere in the documentation, thanks @brvhprince

[2020-12-31 18:11] jaxoncreed opened #117 "PropTypes Warnings on expo-web"
When you run this library in Expo Web, you get warnings for every time `ViewPropTypes.style` is used. For example:

[code]

Happens because of the PropTypes here https://github.com/calintamas/react-native-toast-message/blob/master/src/index.js#L383

This is probably because prop-types has been depricated on React-Native-Web, but not React-Native. https://github.com/necolas/react-native-web/issues/

[2020-12-31 18:41] jaxoncreed commented on #117
I made a temporary fix here https://github.com/jaxoncreed/react-native-toast-message, but all it does is remove the offending PropTypes, so it's by no means a full fix.

[2021-01-02 22:43] nsdub opened #124 "Bug: Can't set custom font when modifying BaseToast"
Custom `fontFamily` values passes to the style props of BaseToast are ignored.

Example:

[code]

Other style properties such as `color` and `fontSize` are respected.

[2021-01-03 01:31] nsdub commented on #124
A bit more info...

Intermittently this error will be thrown:

[code]

[2021-01-03 12:35] nsdub commented on #124
I don't typescript, but it seems like the problem might be that `text1Style` and `text2Style` are given `ViewStyle` types instead of `TextStyle`

Relevant code:
https://github.com/calintamas/react-native-toast-message/blob/c11450d4cb4b8f31d7f810c9711ecd4d83f65362/index.d.ts#L25

[2021-01-06 06:03] Yandamuri opened #126 "Is it possible to change the animation of Toast message?"
Toast message is coming like sliding from top or sliding from bottom. I want fade In and Fade Out animation. Is it possible?

[2021-01-06 15:38] hungdev commented on #67
@calintamas I think you should write it in the document.

[2021-01-12 10:14] arealmaas commented on #117
Yes, similar to this issue I guess: https://github.com/GeekyAnts/NativeBase/issues/3264

[2021-01-14 05:38] arcyn1c commented on #124
Correct. https://github.com/calintamas/react-native-toast-message/pull/127 should fix this. Hopefully it can be merged soon? cc @calintamas

[2021-01-14 20:52] Billmike commented on #67
@calintamas Petition to write this in the documentation 😅 . This should be written in the docs so as to avoid hair-pulling 😅

[2021-01-14 20:55] #109 closed

[2021-01-16 16:02] calintamas commented on #115
fixed in #127

[2021-01-16 16:02] #115 closed

[2021-01-16 16:03] calintamas commented on #124
merged #127 now. It will be part of `v1.4.3`

[2021-01-16 16:03] #124 closed

[2021-01-16 16:05] calintamas commented on #117
oh, I was not aware of this deprecation. I'll take a look into it soon. thanks for raising the issue!

[2021-01-16 16:05] calintamas commented on #126
Not possible for the moment

[2021-01-16 16:06] calintamas commented on #126
Unfortunately, it's not possible at the moment

[2021-01-18 12:22] Yandamuri commented on #126
@calintamas Thanks for the response

[2021-01-18 12:22] #126 closed

[2021-01-18 12:49] Yandamuri opened #129 "Unable to access "props" from Toast.show()"
Here is my `Toast.Show()`

       Toast.show({
		type:  'default',
		position: 'bottom',
		text1: message,
		visibilityTime: 1000,
		autoHide: true,
		topOffset: 200,
		bottomOffset: 100,
		props: { buttonName: 'View' }
	});

Here is Toast config

      const toastConfig = {
			successWithButton: ({ text1, props }) => (
				<View style={[toastContainer, {justifyContent: 'space-between'}]}>
					<V

[2021-01-19 06:03] seanadkinson commented on #117
Yeah, looks like we'll need the prop-types stuff dropped in order to support the latest `react-native-web`.  In the meantime, following the example in the linked `react-native-web` issue, here is a script that will monkey-patch the library:

**fix-rn-web-proptypes.sh**:
[code]

Then add `"postinstall": "./fix-rn-web-proptypes.sh"` in the `scripts` section of your `package.json`.

After doing the a

[2021-01-21 20:35] HridayK97 opened #130 "Toast Text1 gets shortened randomly."
I can't seem to reproduce this consistently. Across different builds/versions, sometimes the text1 of the base toast style is randomly shortened and suffixed with the '...' instead of displaying fully even when there is a ton of horizontal space left in the toast.

[2021-01-24 18:30] edtorba opened #131 "Missing icons"
Version on: ^1.4.3

Initialised in app.js
[code]

Triggered:
[code]
![Screenshot 2021-01-24 at 18 27 48](https://user-images.githubusercontent.com/2422019/105639818-2aaa0400-5e72-11eb-807d-1d0e9be138f3.png)

[2021-01-26 08:34] khelifioussama opened #132 "Info toast in iOS"
when I am using the Toast in android it  works fine , using it in iOS , in rerender I got a green Toast empty that show then expire
any solution please ?

[2021-01-26 15:03] laxu opened #133 "Number of lines cannot be passed as options"
I see that the base notification now accepts number of lines prop, but this should be something you can pass on a case by case basis for various text elements when calling `Toast.show()`.

[2021-01-26 16:42] stefanwuest opened #134 "Offset for iPhone Notch"
Current behavior:
Toasts are not hidden properly if the phone has a notch (e.g. iPhone 12)

Desired behavior:
Toast is completely hidden on all screens

Quick fix would be to change line 344 in `index.js`
[code]

![image](https://user-images.githubusercontent.com/5959858/105874813-56a5c080-5ffd-11eb-8f19-ad731858e8ab.png)

[2021-01-27 03:05] mav10 commented on #134
To put the Provider inside SafeAreaView - isn't it a fix for that?

[2021-01-29 08:53] nnhunguet opened #136 "Toast don't active when i call API on android !"
![image](https://user-images.githubusercontent.com/52577080/106253414-0a9b8b80-624a-11eb-9c4d-05d0a461dd1a.png)

Can you help me?
Toast don't active when i call API on android !

[2021-01-29 09:10] #131 closed

[2021-01-29 09:22] calintamas commented on #136
try wrapping in a `call`
[code]

[2021-01-29 11:46] cristiano-linvix opened #137 "Toast not open on iOS with RN 0.63.3"
Good morning, i call the code bellow, but not open.

`Toast.show({
      text1: 'Hello',
      text2: 'This is some something 👋'
    });`

Any idea?

[2021-01-29 13:25] dipakupatil commented on #137
I am also not able to run it on iOS. even I integrated all necessary steps.

[2021-01-29 13:48] cristiano-linvix commented on #137
I integrated all necessary steps too, and nothing.

[2021-01-29 14:22] calintamas commented on #137
Here is a quick [example repo](https://github.com/calintamas/toast-issue137) I set up, so you can check if anything is missing on your side.

Using `yarn` to install packages.

[code]

[2021-01-29 14:32] calintamas commented on #134
@stefanwuest Here's an [example repo](https://github.com/calintamas/toast-issue137), without a `SafeAreaView` wrapper. I only increased the `topOffset` (default is `30`) so it looks better on devices that have a notch

[code]

![toast-hiding](https://user-images.githubusercontent.com/9104454/106287188-2a817e00-624f-11eb-9cd8-7e89bc636b9b.gif)

[2021-01-29 17:18] cristiano-linvix commented on #137
If I use only toast in index.js without rendering the rest of my app, toast works.
If I import the <App /> it doesn't work anymore.

[2021-01-29 18:03] calintamas commented on #137
@cristiano-linvix Toast has to be alongside the other Views in the View hierarchy. If you can paste the reneder part of your App's entry point, maybe we can figure out what's wrong

[2021-01-29 18:26] cristiano-linvix commented on #137
Render Routes.js
` return (
            <EmitenteContext.Provider value={{ data: EmitenteContextState, setData: setEmitenteContextState }}>
                <UsuarioContext.Provider value={{ data: UsuarioContextState, setData: setUsuarioContextState }}>
                    <NavigationContainer>
                        <StatusBar barStyle="dark-content" backgroundColor={CONSTS.ANDROID_STATUSBAR_COLO

[2021-01-29 19:46] johannb75 opened #138 "Not working on web (expo-web)"
Hi @calintamas ,
Awesome library. It's working perfectly on IOS & Android, but I get this error on the web:

I followed the guidelines and like I said everything is working on IOS & Android.
I don't think the error is coming from my side but from the library.
I hope you'll find a way to fix it
Thanks in advance

[2021-01-29 19:50] johannb75 commented on #104
Has this been implemented yet ?

[2021-01-30 07:09] calintamas commented on #137
@cristiano-linvix try adding it inside the `NavigationContainer`

[code]

[2021-01-30 07:10] calintamas commented on #138
Hi @johannb75, it might be related to #117. I haven't got the chance to fix it yet

[2021-02-01 10:29] cristiano-linvix commented on #137
Amazing!
Thank you very much!!
Working perfectly.

[2021-02-01 10:29] #137 closed

[2021-02-04 16:43] omerts commented on #96
@trbsi Thanks, this should really be documented that the component must be added to the tree.

[2021-02-07 15:56] brhoomjs opened #143 "Adding global onShow"
I want to execute haptic feedback any time `show()` function called. I tried to achieve that but its not working.

[code]

[2021-02-08 19:51] lokk3d commented on #130
I got the same error

[2021-02-10 11:42] #136 closed

[2021-02-10 11:42] #134 closed

[2021-02-10 11:43] calintamas commented on #132
@khelifioussama Can you provide a code sample?

Also, [here is an example repo](https://github.com/calintamas/toast-issue137), hope it helps you pinpoint the issue

[2021-02-12 02:09] kamal-hossain commented on #62
This was a very helpful Issue.
Thanks for the above discussions.
# @vikasacharya16 and @calintamas

[2021-02-12 07:52] johannb75 commented on #138
Have you managed to fix it ?

[2021-02-13 19:14] calintamas commented on #116
Hi @JessicaYeh, my mistake there. I'll fix the declaration file.

`onHide` callback has to be passed when calling `show()`, it was designed with `autoHide: true` in mind.

[code]

[2021-02-14 16:36] #117 closed

[2021-02-14 16:36] #138 closed

[2021-02-14 16:41] calintamas commented on #138
@johannb75 published a fix in v1.4.5

[2021-02-14 16:41] calintamas commented on #117
published a fix in v1.4.5

[2021-02-14 16:43] #116 closed

[2021-02-15 12:17] xhirazi commented on #64
+1

on XS Max

[2021-02-15 15:03] ijharansari2020 opened #149 "getting last toast along with native prompt"
![WhatsApp Image 2021-02-15 at 8 30 36 PM](https://user-images.githubusercontent.com/75674031/107962290-cb509700-6fcc-11eb-969e-b42e24fc5658.jpeg)
Last Toast is coming if permission related prompt open, tried to rename ref but no luck ..

[2021-02-15 18:59] johannb75 commented on #138
Hi @calintamas !
It's working great everywhere. But when loading the app on IOS, I get this warning:

[2021-02-16 08:34] calintamas commented on #149
Hi @ijharansari2020, can you add a code sample (how is the toast set up, how is the prompt set up, etc)

[2021-02-16 10:18] ijharansari2020 commented on #149
have added this
 `<Toast ref={(ref) => Toast.setRef(ref)} />`

imported this import Toast from 'react-native-toast-message';

[2021-02-16 11:36] calintamas commented on #149
Is the Toast component rendered inside the modal?

[2021-02-16 11:39] ijharansari2020 commented on #149
no normal page . whatever is last toast its coming

[2021-02-16 20:37] sardok opened #150 "Getting Invalid prop `style` supplied to `Icon`."
My Toast package version is 1.4.6.

During configuration (`<Toast ref={ref => Toast.setRef(ref)} />`), I receive following error;

[code]

[2021-02-16 20:45] helderppb commented on #150
I'm getting the same error. How can I fix it?

[2021-02-17 07:51] calintamas commented on #150
Sounds like a regression due to #147. I'll fix it as soon as I can, thanks for raising it

[2021-02-17 11:53] kAVArd commented on #150
Also 1.4.3 version have this issue too

[2021-02-17 16:10] calintamas commented on #149
My questions is: where are you rendering `<Toast />` on app's Root?

[2021-02-17 16:11] #150 closed

[2021-02-17 16:13] calintamas commented on #138
fixed here #151

[2021-02-17 16:14] #132 closed

[2021-02-17 18:28] helderppb commented on #150
Have you updated the npm? I'm installing using npm and the issue still there.

[2021-02-17 18:58] Thomas-Negrault commented on #150
The version 1.4.7 fixed the issue for me, thank you for fixing this so quickly ! 🚀

[2021-02-17 19:03] calintamas commented on #150
yes, published in v1.4.7

[2021-02-19 16:52] khelifioussama commented on #149
Hello , There is a probleme rendering Toast inside modal ?

I am rendering the Toast inside a Custom Modal who is using the Screen with SafeAreaView as a child and I got Error : Cannot read property 'show' of null

[2021-02-20 17:35] calintamas commented on #149
Yes, it should be rendered on app's entry point (along with everything that's rendered there, like navigation).

Also, when a Modal is visible and you trigger `Toast.show()`, it will show up behind the Modal (since that's where it is in the View hierarchy)

[2021-02-21 06:05] ijharansari2020 commented on #149
im not calling Toast.show() but it comes when there is Native prompt

[2021-02-21 11:12] calintamas commented on #149
The answer above was to @khelifioussama's question.

@ijharansari2020 where are you rendering <Toast />? Make sure it's not being wrapped by anything rather than the main View container

[2021-02-22 14:51] AmmarMohamadIsmaeel opened #153 "RTL Support"
How could I change the direction of the toast to right to left?
I tried changing the style in the BaseToast but it did not work. Thank you

[2021-02-24 17:21] brandrewsATG opened #154 "Disable OnPress / Gestures"
Hello,

Is there anyway to disable the onpress / gesture that swipes the toast away?  I'm using a custom toast if that makes any difference.

Thanks in advance for your response!

[2021-02-25 14:41] calintamas commented on #154
Hi, `onPress` does nothing by default. As for the swipe gesture, not possible to disable it at this point

[2021-02-25 14:53] calintamas commented on #153
Hi, are you setting RTL true?

[code]

![Simulator Screen Shot - iPhone 11 Pro - 2021-02-25 at 16 50 56](https://user-images.githubusercontent.com/9104454/109170886-def8bc00-7789-11eb-89d1-e9fd0f0355b0.png)

[2021-02-25 15:05] brandrewsATG commented on #154
Thanks for your reply!

[2021-03-01 02:03] giovankabisano opened #155 "Bottom type toast have massive gap with Keyboard"
I have a simple Login use case inside my app and I want to use your Toast library within this project. My designer have a design system for our app that requires Toast to show on the bottom of the screen.

This library able to show Bottom Toast flawlessly with no keyboard show-up
![image](https://user-images.githubusercontent.com/37267184/109442407-b82cd500-7a6a-11eb-8c12-3a6576684466.png)

But wh

[2021-03-01 15:36] calintamas commented on #155
Hi @giovankabisano, this looks like a bug. Thanks for raising the issue, I'll take a look as soon as I can

[2021-03-02 16:47] #155 closed

[2021-03-02 16:52] calintamas commented on #155
@giovankabisano published a fix in `v1.4.9`

[2021-03-03 15:15] giovankabisano commented on #155
Cool! Thanks man, I'll try to upgrade my library version

[2021-03-04 21:32] LucaCevasco commented on #130
Someone found a solution without touching node_modules?

[2021-03-06 14:28] AmmarMohamadIsmaeel commented on #153
Yes, It worked well, Thank you so much @calintamas

[2021-03-06 14:28] #153 closed

[2021-03-07 19:21] RichMatthews commented on #113
this is still broken for me. the `src/index.js` has this in it:

[code]

did it change back?

[2021-03-09 21:44] calintamas commented on #67
Indeed, I should have done this earlier. Now it's there - https://github.com/calintamas/react-native-toast-message#how-to-render-the-toast-when-using-react-navigation.

Thanks everyone!

[2021-03-10 04:30] akshitrcrm opened #162 "How to mock module for jest tests"
I am getting
**TypeError: Cannot read property 'show' of null**

while running test on my functions where I have used the toast.

[2021-03-15 15:29] ssljivic opened #163 "Any element that has elevation overlaps the toast on Android"
If there is any component with elevation set, even with elevation = 1, is shown on top of the toast in Android.
Any workaround or fix for this?

[2021-03-16 10:10] Angelinodc71 commented on #149
Something very similar happens to me, I get the last message by logging in with Google. @calintamas
I have a separate component:

export function errorToast(title: string='Error', message?: string, position: any='top') {
  Toast.show({
    type: 'error',
    position: position,
    visibilityTime: 3000,
    text1: title,
    text2: message,
  });
}

And I call it on other screens like this:
errorT

[2021-03-17 12:07] developmentFlykube commented on #149
Same issue here, has anyone managed to fix it?

[2021-03-17 20:40] calintamas commented on #149
@Angelinodc71 @developmentFlykube Can you post the code to reproduce the issue? The code where the `Toast` instance is rendered

[2021-03-17 21:25] calintamas commented on #163
Hi @ssljivic, can you add the code to reproduce it?

[2021-03-18 08:02] t-mohsin commented on #85
@calintamas If I render the Toast inside the modal & have one in App.js it gives an error **TypeError: null is not an object (evaluating 'Toast._ref.show')**

We can only render Toast once? If yes, then how can we bring it on the top of the modal ensuring it works perfectly on the rest of the screens.

[2021-03-18 08:02] t-mohsin commented on #85
@calintamas If I render the Toast inside the modal & have one in App.js it gives an error TypeError: null is not an object (evaluating 'Toast._ref.show')

We can only render Toast once? If yes, then how can we bring it on the top of the modal ensuring it works perfectly on the rest of the screens.

[2021-03-18 17:27] t-mohsin opened #164 "Display Toast on the top of the Modal gives TypeError: null is not an object (evaluating 'Toast._ref.show')"
Hey - I am using the bottom sheets and have to display a toast on the top of it.

Someone in old issues has mentioned rendering Toast inside the modal. If I render the Toast inside the modal & have one in App.js it gives an error **TypeError: null is not an object (evaluating 'Toast._ref.show')**

Is there a way to bring the Toast on top of every other modal? ensuring it works perfectly on the res

[2021-03-19 08:36] developmentFlykube commented on #149
Hey dude, here is in my App.tsx, on the main render:
`
return (
      <View style={{ backgroundColor: "#0000", width: "100%", height: "100%" }}>

        <NavigationContainer
          ref={GlobalVariables.navigationRef}
          onReady={() => this.state.routeNameRef.current = GlobalVariables.navigationRef.current.getCurrentRoute().name}
          onStateChange={() => {
            const previou

[2021-03-21 11:05] calintamas commented on #149
@developmentFlykube make sure to render the Toast inside `NavigationContainer`
https://github.com/calintamas/react-native-toast-message#how-to-render-the-toast-when-using-react-navigation

[2021-03-21 11:10] calintamas commented on #164
Hi @t-mohsin, what you could to is have 2 separate Toast instances: one inside the Modal ("modal toast") and a normal one outside.

For the one outside, set the ref on the Toast object (like usual)
[code]

As for the outside one, use another ref
[code]
Then, when you want to show the "modal toast", call it using `modalToastRef.current.show()`

[2021-03-22 07:32] calintamas commented on #85
@t-mohsin try this https://github.com/calintamas/react-native-toast-message/issues/164#issuecomment-803556361

[2021-03-22 08:35] t-mohsin commented on #164
@calintamas - Thanks a lot. This resolved my issue.

[2021-03-22 08:35] #164 closed

[2021-03-22 20:42] #162 closed

[2021-03-23 15:41] anisfrontmen commented on #155
@calintamas based on your fix commit , you remove keyboard listener for Android, that lead to another issue when the keyboard is open, the Toast stay behind the keyboard in Android.

[2021-03-25 08:25] roei133 opened #165 "What is the right way to change a TOAST style?"
In my example I try to change the style of "toast" but for some reason it does not work for me and I do not understand why because it is exactly according to their example.

[code]

[2021-03-25 10:04] stanislavpoleshuk commented on #149
Hey! I have a similar problem. On android when calling the native Share module. Toast sticks out
<img width="511" alt="Снимок экрана 2021-03-25 в 12 00 04" src="https://user-images.githubusercontent.com/47532425/112455235-33c82c00-8d62-11eb-83fd-55886999f819.png">

[2021-03-25 12:06] calintamas commented on #165
You have to render the Toast instance in your app's root and pass the config as a prop there
https://github.com/calintamas/react-native-toast-message#usage

[2021-03-25 15:37] calintamas commented on #155
@anisfrontmen is your `android:windowSoftInputMode` set to `adjustResize`?

[2021-03-26 09:58] anisfrontmen commented on #155
no it is set as `adjustPan` for other reasons, I do understand that it works when you change it to `adjustResize`, but it will be good to not rely on the `windowSoftInputMode` so `KeyboardAvoidView` will be the optimal solution.

[2021-03-28 21:41] mrroll commented on #67
We also probably want to point out that it has to be the very last child of the `NavigationContainer` component.

[2021-03-29 06:08] puuuudding commented on #155
@calintamas hi, I also have encountered this issue. After install the latest version, this problem is solved on Android, but it still exists on iOS, do you have a plan to check this? Thank you!

https://user-images.githubusercontent.com/8097548/112793657-3c896c80-9098-11eb-9632-44d8a47caeae.mov

[2021-03-30 05:55] McSam94 commented on #34
@BrendanVadacoraBell did you found a workaround solution?

[2021-03-30 07:00] calintamas commented on #34
@McSam94 https://github.com/calintamas/react-native-toast-message#how-to-show-the-toast-inside-a-modal

[2021-03-30 11:24] dancomanlive opened #166 "Multiple lines of text"
How can we add multiple lines of text?

[2021-03-31 13:26] kamal-hossain opened #167 "Close Button is not working in android"
Close button is not working in android. I saw a simillar closed issue [there](https://github.com/calintamas/react-native-toast-message/issues/64).

They are talking about z-index issue. But I don't know how to fix the z-index issue. Can anyone help me with this?

[2021-04-01 15:32] pawanpyakurel opened #168 "Toast is not appearing in TS"
my code:

useEffect(() => {
    Toast.show({
      type: 'success',
      text1: 'dsffd',
      text2: 'sdfafd',
      position: 'top',
    });
  }, ]);

at app.ts:

export const App: React.FC = () => {
  return (
    <ApolloProvider client={client}>
      <StatusBar hidden={true} />
      <Provider store={store}>
        <PersistGate loading={null} persistor={persistor}>
          <StatusBar hidd

[2021-04-03 06:14] sayem314 opened #169 "[Feature] Add warn support"
With yellowish color style by default

[2021-04-03 09:39] calintamas commented on #169
Hi @sayem314, thanks for your suggestion.

However, I'd like to keep the lib as lightweight as possible, so I'd rather not add a new type and icon.

But what you can do is: add your own "warn" type (with a config object), by modifying `BaseToast` styles.
Docs on how to do that, here: https://github.com/calintamas/react-native-toast-message#customize-layout

[2021-04-03 09:42] calintamas commented on #168
@pawanpyakurel are you using react-navigation? And if so, are you rendering the Toast as last child in the NavigationContainer?

https://github.com/calintamas/react-native-toast-message#how-to-render-the-toast-when-using-react-navigation

[2021-04-04 18:42] ChrisMarlier commented on #130
Adding width:"100%" is not working for me. Interested for a solution too.

[2021-04-07 06:34] vinaygregoryjohn183 opened #170 "visibilityTime not working"
Whichever value for the visibilityTime prop, i give, the duration of the toast remains the same. My code:                                               AnimatedToast.show({
      type: AnimatedToastTypes.OrderTemplateCopied,
      visibilityTime: 1000,
      ...ANIMATED_TOAST_CONFIG[AnimatedToastTypes.OrderTemplateCopied]
    });

[2021-04-07 15:04] aqilhex opened #171 "Delay in Show Toast"
I expected to have a delay prop. Forexample i want toast appear immediately without any delay or vice versa. Is it possible at this point? Thank you for the helpful component.

[2021-04-07 18:00] Ibcs16 commented on #168
@calintamas `s suggestion did the trick ;)

[2021-04-08 01:13] jo-rdan commented on #170
I am getting the same error

[2021-04-08 07:43] tarikpnr opened #172 "Typescript-class component toast message in modal usage"
![issue](https://user-images.githubusercontent.com/61876765/113987416-0ea1e600-9857-11eb-8290-4d5bc0878eb2.png)

Hello. I wanted to use toast message in a modal. I initialized the steps related to showing in modal as shown in docs. But having problem while creatingRef. What should be the proper way to use toast message in typescript- class component ?

The error is shown in screenshot above. Any h

[2021-04-08 07:48] tarikpnr commented on #172
Other attempt...

![issue2](https://user-images.githubusercontent.com/61876765/113988247-f2eb0f80-9857-11eb-9bbf-dffe3acabc46.png)
...

[2021-04-08 20:57] douglascarlini opened #173 "Custom fontFamily not working"
I have an custom font file working on app, but not on Toast.

I tried to set `fontFamily` to `text1Style` on `BaseToast`, but without success.

[2021-04-09 06:06] calintamas commented on #173
Hi @douglascarlini , are you overriding the `toastConfig` correctly?

[code]

[2021-04-09 06:09] calintamas commented on #172
Hi @tarikpnr , try creating a ref in the class constructor using [React.createRef()](https://reactjs.org/docs/react-api.html#reactcreateref)

[code]

[2021-04-09 06:12] calintamas commented on #171
Hi @aqilhex, glad you like it! The delay comes from the slide up/down animation. And at this point there's no way to change the animation.

I'll mark it as an enhancement, thanks!

[2021-04-09 06:49] calintamas commented on #170
`visibilityTime` only works in conjunction with `autoHide: true`. Is this the case?

[2021-04-09 06:50] calintamas commented on #167
Hi @kamal-hossain, I'll take a look, thanks!

[2021-04-09 06:52] calintamas commented on #129
Hi @Yandamuri, I'll take a look, thanks!

[2021-04-09 08:05] jo-rdan commented on #170
@calintamas Hi, yes it is the case for me

[code]

[2021-04-09 08:18] calintamas commented on #170
@jo-rdan Ok, thanks for the quick response, I'll take a look as soon as I can

[2021-04-09 13:22] douglascarlini commented on #173
Hi @calintamas , yes, that my code:

[code]

![Screenshot_2021-04-09-10-15-28-89](https://user-images.githubusercontent.com/22769198/114185921-a4ec0f80-991c-11eb-8461-0cded3473216.jpg)

I tried to edit directly on module too, but without success:

![Screenshot from 2021-04-09 10-20-44-edit](https://user-images.githubusercontent.com/22769198/114186599-6b67d400-991d-11eb-8f1e-c3b2e2a19397.png)

[2021-04-09 13:37] douglascarlini commented on #173
Hi @calintamas, yes.

[code]

![Screenshot_2021-04-09-10-33-27-45](https://user-images.githubusercontent.com/22769198/114188243-52f8b900-991f-11eb-9e77-2100de331db1.jpg)

I tried to edit directly on module too, but without success:

![Screenshot from 2021-04-09 10-20-44-edit](https://user-images.githubusercontent.com/22769198/114188408-80456700-991f-11eb-950b-88e817e3a6d7.png)

[2021-04-09 13:42] douglascarlini commented on #173
Hi @calintamas, thank you for help me!

I found the problem: **my custom font don't accept `bold` style.**

[code]
My bad, Sorry!

[2021-04-10 06:28] calintamas commented on #173
No worries, glad it works!

[2021-04-10 06:28] #173 closed

[2021-04-10 06:29] #169 closed

[2021-04-10 06:31] calintamas commented on #149
I'll take a look as soon as I can

[2021-04-10 09:41] stharvey opened #174 "Failed prop type: Invalid props.text2Style key `fontSize` supplied to `BaseToast`."
Hello,

I have seen a previous issue reported where this was fixed for text1Style however I am still seeing this issue for text2Style.

I am using version 1.4.9

The full warning message I am seeing is:

[code]

Thanks a lot

[2021-04-10 19:58] tarikpnr commented on #172
![Screenshot_1](https://user-images.githubusercontent.com/61876765/114282882-4bd0c880-9a4f-11eb-852c-d5e5fb614a6a.png)

Im guessing in order to access the functions of Toast I need to specify a type to it. Currently if I try to use toast message on modal `private readonly modalRef:any` having any type (workaround)...
![Screenshot_2](https://user-images.githubusercontent.com/61876765/114282986-ffd2

[2021-04-10 20:12] tarikpnr commented on #172
![Screenshot_4](https://user-images.githubusercontent.com/61876765/114283352-fcd86280-9a51-11eb-9b4d-4d7212613d52.png)

When I specify zIndex of both Modal and Toast component, the toast message shows up. But I am not able to hide it by pressing on it.

![Screenshot_5](https://user-images.githubusercontent.com/61876765/114283375-19749a80-9a52-11eb-984a-0e80ab72c25f.png)

[2021-04-11 07:36] calintamas commented on #172
@tarikpnr to hide it, you need to call `hide` on the same ref
[code]

As for creating the ref, you can set it to be of `Toast` type:
[code]

[2021-04-11 10:51] tarikpnr commented on #172
`this.modalRef.current.hide()` that did the trick! Thanks.

But on the other side, while setting type to `React.createRef()`, still getting error below.

![Screenshot_1](https://user-images.githubusercontent.com/61876765/114301238-aeb47500-9acc-11eb-8f42-1968c7be3573.png)

![Screenshot_3](https://user-images.githubusercontent.com/61876765/114301340-fe933c00-9acc-11eb-9eec-b14ced46b566.png)

[2021-04-12 12:49] calumgould opened #175 "Setup with react-native-navigation"
Hi,

I'm looking for a way to render the toast over the top of the navigation elements with react-native-navigation, similar to how its described for react-navigation https://github.com/calintamas/react-native-toast-message#how-to-render-the-toast-when-using-react-navigation

Is it possible to achieve this same behaviour for react-native-navigation? Couldn't find any issues/instructions for this.

[2021-04-13 21:20] german970814 commented on #175
+1

[2021-04-14 04:31] kamal-hossain commented on #167
Hey @calintamas, thanks for your response.

## I have added `onTrailingIconPress={() => Toast.hide()}` on `BaseToast`.  Now the close button is working perfectly fine in android.

Here is my custom Toast **code** that I have used on my app  in case if you wanna take a look.

---

[code]

[2021-04-17 15:53] rahmatkruniawan commented on #175
+1

[2021-04-17 17:41] jailsonpaca commented on #172
1+, I am with the same problem

[2021-04-19 20:07] ArtHerasymov commented on #129
@calintamas Hi! It seems like you declared a type that is called 'successWithButton', so when calling show(), you should specify type: 'successWithButton' instead of 'default'.

[2021-04-22 06:54] calintamas commented on #129
@Yandamuri can you check if this was indeed the issue?

thanks @ArtHerasymov, I didn't notice when I initially looked over the code above

[2021-04-26 20:06] #171 closed

[2021-04-27 12:32] luanccp commented on #175
+1

[2021-04-28 02:51] Dineshkumargits opened #176 "Changing Font Family"
I had mention fontFamily in text1Style, but its not get changed.
This is my toastConfig:
`const toastConfig = {
  success: ({ text1, text2, ...rest } : BaseToastProps) => (
    <BaseToast
      {...rest}
      style={{ borderLeftColor: 'pink' }}
      contentContainerStyle={{ paddingHorizontal: 15 }}
      text1Style={{
        color: "#d44000",
        fontFamily: 'Ubuntu-Regular'
      }}

[2021-04-29 06:03] anilios commented on #64
I am also having this issue. Where do i have to set zIndex?

[2021-04-29 06:17] kamal-hossain commented on #64
@anilios check [this](https://github.com/calintamas/react-native-toast-message/issues/167#issuecomment-819219863) out. Maybe this will help you.

[2021-04-29 22:39] rezn5447 commented on #175
`export function registerScreen<P>(
  name: string,
  Component: React.ComponentType<P>,
) {
  Navigation.registerComponent(
    name,
    () => props => {
      // Not rendering on topNav Buttons
      if(name === ROUTES.LOGIN_BUTTON) {
        return <Component {...props} />
      } else {
          return (
            <>
              <Toast ref={(ref) => Toast.setRef(ref)} />
              <C

[2021-04-29 22:48] rezn5447 commented on #175
From RNN: https://wix.github.io/react-native-navigation/api/component#registering-a-component-wrapped-with-providers

[2021-05-06 23:46] Samrose-Ahmed opened #188 "Request: Don't force icon to be image/ Support svg Icon"
Currently if you want to extend BaseToast and use your own icon, it only accepts 'ImageSource', i.e. assumes Icon is image. But many libraries use svg icons.

Should be able to specify svg to `leadingIcon`/`trailingIcon` in `BaseToast` (or make it agnostic, ie just accept a component as prop instead of 'source').

[2021-05-08 23:05] Onibenjo commented on #172
To fix the typescript error, i just created a variable and in the ref, added
[code]

[2021-05-11 08:42] michalpolko commented on #174
There is a similiar problem with `leadingIconStyle` and `trailingIconStyle`, and probably more props, example:
[code]

They have type `ViewStyle` which does not contain `tintColor: ColorValue`.

[2021-05-12 04:50] #168 closed

[2021-05-12 13:00] mikeyaworski opened #190 "zIndex is behind every other element?"
How am I supposed to deal with the following?

<img width="296" alt="image" src="https://user-images.githubusercontent.com/10966214/117978737-30800400-b300-11eb-80c9-06d31011542f.png">

The toast is rendered behind every other element on the screen. I've tried setting `zIndex` and it does nothing.

I'm a default configuration for the toast. Something like:

[code]

And

[code]

[2021-05-13 13:36] likeSo opened #191 "[Feature Request] Loading style toast?"
We usually need toasts when networking happens.
When Network begins, Show a toast when an `ActivityIndicator` or a Circular progress bar and an optional message;
When Network ends, close the toast;

When network response error or other messages, show a toast with success or error;
For now, this library only handled the last scene.

[2021-05-13 18:52] mikeyaworski commented on #190
Ah, this was my lack of understanding with react-native nuances. I needed to render the `Toast` component as the last React child, not the first.

[2021-05-13 18:52] #190 closed

[2021-05-14 11:57] sokah2412 opened #192 "Create type of options of Toast.show"
Currently, the type of Toast.show options is hard coded directly in the function definition. It would be very great to have this type exported. If you think this is a good idea, I'm willing to do a PR for it.

[2021-05-15 08:14] n3rd253 opened #193 "Setup with react-native-router-flux"
Hi,

I'm looking for a way to render the toast over the top of the navigation elements with react-native-router-flux, similar to how its described for react-navigation https://github.com/calintamas/react-native-toast-message#how-to-render-the-toast-when-using-react-navigation

I have implemented this library react-native-router-flux, but toast is not showing.? Couldn't find any issues/instructions

[2021-05-16 21:18] JakeMotta opened #194 "Text1 not showing on Android"
Hi! Using react-native-toast-message v1.4.9, and 'text1' is not visible on Android (works fine on iOS). This was working prior, but is no longer? Can't say I changed anything w/ this since it's a pretty straightforward package, but thought I'd mention it.

Wasn't sure if this is an actual issue, or if I somehow broke something, so I didn't do a PR. Hope this is helpful to someone.

[Before](https:

[2021-05-17 22:42] facurueda commented on #193
`<Container>

![Captura de Pantalla 2021-05-17 a la(s) 19 39 50](https://user-images.githubusercontent.com/35242469/118565070-ea83cf80-b747-11eb-9c60-865aa99ca079.png)

          <Router>
              <Stack key="root" hideNavBar>
                <Tabs
                  key="tabbar"
                  swipeEnabled
                  type="replace"
                  showLabel={true}

[2021-05-18 10:40] calumgould commented on #175
@rezn5447 is there any extra magic here to make this work?

I tried much the same at the time, but the toast message was still appearing from behind the topBar.

My application is wrapped with quite a few providers which I feel might be causing these issues:

[code]

[2021-05-18 12:21] activebiz opened #195 "Doesnt work with react-navigation/native"
The toaster doesnt appear when using `@react-navigation/native` lib. Have followed as shown in https://github.com/calintamas/react-native-toast-message#how-to-render-the-toast-when-using-react-navigation

I have placed `<Toast/ >` as last element inside `<NavigationContainer>....</NavigationContainer>`.

Any one else having same issue?

[2021-05-18 19:06] lucswart commented on #195
Yep, having the same issue!

[2021-05-18 21:25] Skkay commented on #195
Works perfectly for me on Android using Expo with:
- react-native-cli: 2.0.1
- react-native: 0.63.2
- @react-navigation/native: 5.9.4

[2021-05-21 11:38] mohamedanwer123 commented on #175
const HOC = (Component) => {
  return (props) => (
      <Provider store={store}>
          <MenuProvider>
            <Component {...props} />
            <Toast ref={(ref) => Toast.setRef(ref)} />
          </MenuProvider>
      </Provider>
  );
}

[2021-05-21 11:39] mohamedanwer123 commented on #175
const HOC = (Component) => {
  return (props) => (
      <Provider store={store}>
          <MenuProvider>
            <Component {...props} />
            <Toast ref={(ref) => Toast.setRef(ref)} />
          </MenuProvider>
      </Provider>
  );
}

[2021-05-21 11:40] mohamedanwer123 commented on #175
<Provider store={store}>
          <MenuProvider>
            <Component {...props} />
            <Toast ref={(ref) => Toast.setRef(ref)} />
          </MenuProvider>

[2021-05-21 11:41] mohamedanwer123 commented on #175
try this

const HOC = (Component) => {
  return (props) => (
      <Provider store={store}>
          <MenuProvider>
            <Component {...props} />
            <Toast ref={(ref) => Toast.setRef(ref)} />
          </MenuProvider>
      </Provider>
  );
}

[2021-05-24 16:50] ronmara commented on #195
Could you post your code?

[2021-05-24 16:54] ronmara opened #196 "rtl support"
Is there any RTL support?

[2021-05-25 05:23] calintamas commented on #196
@ronmara see if this helps https://github.com/calintamas/react-native-toast-message/issues/153#issuecomment-785952503

[2021-05-25 16:29] Skkay commented on #195
In my `App.js`:
[code]

And in my `HomeScreen.js` I call my Toast like that:
[code]

Exactly as explained here https://github.com/calintamas/react-native-toast-message#how-to-render-the-toast-when-using-react-navigation and I have no problem

[2021-05-25 19:13] myoganugraha commented on #194
yes, it happen on some android phone, when you remove black colors from native android code
which is you need to set the colors by the library code

step to fix for anyone who catch this issue
add color to text1 style

`color: colors.dustyGray`

located on node_modules/react-native-toast-message/src/components/base/styles.js

[2021-05-26 08:04] charlotteisambert commented on #195
I don't know if this may help, but it didn't work for me because I placed the Toast element above my screens.
Make sure you placed the`<Toast ref={(ref) => Toast.setRef(ref)} />` after all of your screens:

[code]
and not
[code]

[2021-05-26 08:49] lucswart commented on #195
@charlotteisambert This did actually help! Woah, thank you.. It works perfectly now.

[2021-05-27 11:23] zog opened #197 "Issue with PropTypes"
I'm using your (awesome) package in an expo project.
Everything works fine, except for my unit tests.
When I run `jest`, I get the following error:
[code]

It seems that your filename `utils/prop-types.js` is colliding with the `prop-types` package name.

Workaround: Renaming `utils/prop-types.js` to `utils/style-prop-types.js` seems to fix the issue.

[2021-05-27 12:17] zog commented on #197
Was a misconfiguration on my side, my bad

[2021-05-27 12:17] #197 closed

[2021-05-27 20:43] nightness commented on #195
I'm using Expo yes, and where I noticed this first is on the web platform, I didn't check the others for this issue. The OP's fix works for me.

[2021-05-27 20:52] nightness commented on #195
I think the proper fix would be in the documentation, not the code.

[2021-05-31 02:12] nightness commented on #104
Huge reason, I'm about to write my own toast. ;(

[2021-05-31 02:21] nightness commented on #188
Is this also why the close button for the toasts looks horrible on a large display? It's a scaled up a font instead of using SVG?
![Temp](https://user-images.githubusercontent.com/28668902/120130926-e9619200-c18c-11eb-99b4-e66148809cd5.PNG)

[2021-05-31 16:56] anoop0567 commented on #195
maybe this can help, I just removed `React.useEffect` and it's worked
[code]
changed to
[code]

I was getting this error before
[code]

[2021-06-04 13:57] aravi365 commented on #149
Any updates or workarounds for this issue? It appears random only, like Not on every android device but on many!

[2021-06-08 05:47] McSam94 commented on #34
@calintamas . Thank you for replying. I manage to show the toast box in a modal. However, in ios when the modal slides down to dismiss, the toast container is sticking at the top and following the modal to slide down. Is there any workaround?

<img width="468" alt="Screenshot 2021-06-08 at 1 42 52 PM" src="https://user-images.githubusercontent.com/39615910/121129749-fd2d8800-c85f-11eb-9081-0b75ba5

[2021-06-09 10:34] tientran0019 commented on #154
@brandrewsATG You can use this fork version to disable the swipe gesture:
[https://github.com/tientran0019/react-native-toast-message](https://github.com/tientran0019/react-native-toast-message)

[2021-06-09 13:14] brandrewsATG commented on #154
Wow!  Thanks @tientran0019 !

[2021-06-09 15:17] LadislavBohm opened #203 "Allow component to be used as icons"
Currently I have to use an ImageSourcePropType to define icons. It would nice to allow any component to be passed to BaseToast so we can use SVG or whatever to display there.

[2021-06-09 16:03] GabeK0 opened #204 "Height prop does nothing?"
1. Initialize a new React Native project, via `npx react-native init NewProjectNameHere`
2. Install `react-native-toast-message`, via `npm install react-native-toast-message`
3. Add a Toast, and give it a custom height `<Toast height={200} ref={ref => Toast.setRef(ref)} />`
4. Show the toast, such as with ```useEffect(() => {
    Toast.show({
      text1: 'Hi',
      text2: 'pls work',
    });
  }

[2021-06-09 19:09] calintamas commented on #204
Hi, @GabeK0. Actually, the `height` prop specifies an initial height for the default Toast type, before `onLayout` has the chance to resolve.

To be honest, I think I should remove it in a future version - as it does not really provide any value.

To have different Toast types with different heights, you can [Customize the layout](https://github.com/calintamas/react-native-toast-message#customize-

[2021-06-09 19:12] calintamas commented on #203
@LadislavBohm thanks for your suggestion. Indeed, I'll mark it as an enhancement and provide this option in a future version

Relates to https://github.com/calintamas/react-native-toast-message/issues/188

[2021-06-09 19:12] #196 closed

[2021-06-09 19:22] calintamas commented on #192
@sokah2412 Sorry for the late response, been caught up with work lately. Sure thing, feel free to open a PR with it

[2021-06-09 19:28] calintamas commented on #191
@likeSo Thanks for your suggestion. However, I want to keep the package as lightweight as possible. This is why I have exposed the `config` prop - so any uncovered / specific use-case can be handled easily by developers using the package.

Read more here - [Customize layout](https://github.com/calintamas/react-native-toast-message#customize-layout)

[2021-06-09 19:28] #191 closed

[2021-06-09 20:06] sshapoval commented on #149
Hello! I have the same issue. My NavigationContainer looks like this
 `<NavigationContainer ref={navigationRef}>`
        `<RootStackNavigator />`
      `<Toast config={toastConfig} ref={ref => Toast.setRef(ref)} />`
    `</NavigationContainer>`

[2021-06-09 20:54] artvichi commented on #195
On web toast doesn't disappear, but instead goes under bottom navbar
![image](https://user-images.githubusercontent.com/51003316/121427936-82816d00-c932-11eb-8f64-8d104b524033.png)

[2021-06-09 21:03] artvichi opened #205 "Weird behavior on web with position = bottom"
I don't think it's related to `react-navigation` and appears only when position is bottom.

Toast goes under navbar and sit there for some reason (doesn't disappear)

here is how it's setup

[code]

![image](https://user-images.githubusercontent.com/51003316/121429289-fa9c6280-c933-11eb-8a70-ecfcfb314cc3.png)

[2021-06-10 03:52] nightness commented on #104
This works for me... https://snack.expo.io/@nightness/toast-snack---bottom

[2021-06-11 06:26] calintamas commented on #205
Hi @artvichi, are the Views in your custom config having `position: absolute`?

[2021-06-11 12:57] Isaius commented on #195
Yeah, worked for me as well.

[2021-06-17 09:17] r1skz3ro opened #208 "Toast does not respect visibilityTime when another Toast is triggered"
I show toasts from several places in my app. The problem is when I trigger the first one with even high time like this: `visibilityTime: 20000` this is not respected when the second Toast is triggered, the first one is hidden automatically.
The desired situation would be to wait until `visibilityTime` pass and then show the second Toast.
Is there any way to queue them up?

[2021-06-17 14:28] Zgarc commented on #174
Still getting similar errors
![image](https://user-images.githubusercontent.com/39964541/122416419-b83bdc80-cf56-11eb-9044-850e759e9b5c.png)

[2021-06-17 20:06] cabelin opened #209 "Trying to render component with toast in modal tests: React.createElement: type is invalid..."
I'm not able to render in the tests a screen where the toast is in a modal

I'm using react-native-testing-library to perform the tests and the react-native-toast-message mock is done, so much so that it works for other tests where toast is global

In this case I'm getting the following error:
[code]

As if Toast wasn't a component.

Can anyone help me?

[2021-06-20 07:29] #165 closed

[2021-06-20 07:30] #129 closed

[2021-06-21 09:33] muhammadtaha1998 commented on #34
Hi. I trying this solution provided by you in the documentation but it doesn't seem to work. The doesn't show at all. Not even behind the modal.
`export default function FullScreenModal({
  title,
  isOpen,
  onClose,
  nextButton,
  keyboardShouldPersistTaps,
  children,
  leftIcon,
  handleLeftIcon,
}) {
  const modalToastRef = useRef();
  return (
    <View style={styles.centeredView}>
    <Mod

[2021-06-23 04:09] shlok-ps commented on #195
I can use Toast inside navigation with this. But not outside of it. Is there a way to run it both inside and outside of Navigation Container.

[2021-06-23 06:17] calintamas commented on #195
@shlok-ps yes, you can render it alongside RootNavigator, like so

[code]

[2021-06-23 23:02] MorenoMdz commented on #195
This is actually the solution, if someone has time please add this as a note to the repo readme.md ;)

[2021-06-24 16:53] calintamas commented on #195
Updated the phrasing in the readme, commit https://github.com/calintamas/react-native-toast-message/commit/1b5d936b04dc66109ece21d0cf5c22d2dcb0a1e3. I think it should be fine now.

[2021-06-25 14:11] kozillla commented on #175
Any update on this ?  Placing Toast  within component it renders Toast below TopBar react-native-navigation

[2021-06-27 05:30] miralsuthar commented on #208
I would like to contribute to this issue.

[2021-06-28 05:15] calintamas commented on #208
@miralsuthar sure, feel free to do so. thanks!

[2021-06-28 19:21] a-bugaj commented on #176
the problem still exists in the version `1.4.9`, any idea how to solve it?

[2021-06-30 06:16] glinda93 commented on #149
Same issue here

[2021-06-30 22:51] zetamorph commented on #149
same

[2021-07-05 11:03] luanccp commented on #167
The same happens with me, but the `onPress` is not working.
It is Android-only behavior.

[2021-07-05 21:30] jordan-tpz commented on #205
Hi, same for me

[2021-07-06 15:17] rajashril opened #214 "On android device toast is draggable and after drag and drop, toast does not getting hide"
I have followed the steps mention here https://www.npmjs.com/package/react-native-toast-message to add toast in my app.
And I have followed code to display and hide the toast automatically after 2sec.

`Toast.show({
        text1: 'Submitted',
        type: 'success',
        visibilityTime: 2000,
        autoHide: true,
        position: 'top',
        topOffset: 10,
        onPress: () => {

[2021-07-08 12:07] tamir61 opened #217 "Hide Toast on screen/tab change."
Hey, did someone tried to do that using React Navigation V5?

I'm using the Toast as in the example
[code]

I'm struggling to hide the Toast when the navigation state is being changed.

[2021-07-08 18:15] asalha opened #218 "The height in a custom BaseToast not adjusting if the message is too long"
That's the configuration that I am using:
[code]

That's how it looks like:

<img width="374" alt="qemu-system-x86_64_wPNNllsvk2" src="https://user-images.githubusercontent.com/4199314/124971177-bdcc9580-dfdd-11eb-8c08-8f7d147cf759.png">

[2021-07-10 04:02] Aryk commented on #217
My guess is you are getting the default "success" toast showing up when navigating to something from bottom to the top....it's supposed to be hidden but is actually showing.

Doesn't always happen though...but I had the same problem.

I have a workaround but it's not pretty...

[code]

By default the toast is not rendered at all (even off the screen). Seems to still be working correctly for me.

[2021-07-11 22:40] erhanersoz commented on #208
I queued the toasts. Maybe it works for you too. https://snack.expo.io/@erhanersoz/toastqueue

[2021-07-11 22:40] erhanersoz commented on #104
I queued the toasts. Maybe it works for you too. https://snack.expo.io/@erhanersoz/toastqueue

[2021-07-12 08:34] shariqahmedAsm opened #219 "Toast background is Transparent."
Hi,

I am able to display Toast message as expected, but the only problem is that the toast background in transparent. I tried adding styles to it, but in vain it's still transparent.

[2021-07-13 12:50] tamir61 commented on #217
what I'm trying to achieve is while the Toast is visible and the user navigates to another screen the Toast will hide.

[2021-07-13 12:54] tamir61 opened #220 "Toast is visible on screen orientation change."
Hey,

I'm having an issue, when Toast is in a hiding state (out of the pov) and the screen orientation is being changed the Toast can be seen.

it can be fixed by setting the opacity to 0 when the Toast is in a hiding state

[2021-07-14 04:52] calintamas commented on #217
@tamir61 You can use `useIsFocused` on a particular screen to know when to hide the Toast

[code]

[2021-07-15 03:09] Seanmclem commented on #164
I still experience this issue, seemingly when I try to use the Toast.show() in the same place I drop the original component and ref

[2021-07-15 05:55] prox2 commented on #164
same here also, when i wrap whole app components

[2021-07-22 11:14] markybry opened #224 "Jest snapshot testing"
Is there an approved approach to snapshot testing with Jest. I am having issues with disabling the animation. This occasionally causes the Translation property to be different.

     "translateY": -64.98915626183785,
+   "translateY": -65,

What I have done is to fix the current time by mocking it. As follows
Date.now = jest.fn(() => 1482363367071);

Disabling timers didn't seem to work. Using the

[2021-07-26 22:38] goleary commented on #155
I've seen the same on iOS where the toast shows above where the keyboard was even if the toast is shown after `Keyboard.hide()` has been called.

If I use `setTimeout(showToast, 1000)` the toast shows in the desired location, but that is quite the delay.

[2021-07-29 11:03] nguyenductoan1995 opened #226 "When modal request permission appear then the modal toast on the previous screen also appears -> android"
<img width="381" alt="Screen Shot 2021-07-29 at 17 57 56" src="https://user-images.githubusercontent.com/24264218/127481087-05cd206e-3b0e-4205-8f48-4feb1b5dadd9.png">

[2021-08-02 06:31] AdriaRios commented on #195
Hey @calintamas !

When we use a modal navigation, the toast appears below the view. We are following your recommendation, no luck.

Any idea? Thank you!

[2021-08-03 18:57] cabelin commented on #209
I managed to solve it by defining the mock as a component, which is what the implementation really is, the code follows:
[code]

In this way, the `Toast` can be rendered as a component in tests.

[2021-08-03 18:57] #209 closed

[2021-08-06 11:34] cutenesss commented on #155
@puuuudding you have any workaround for this? im facing this too

[2021-08-06 17:41] Victorcassiano opened #232 "TypeError: Cannot read property 'show' of null"
When I show a toast and navigate to a screen and when I go back to the screen where I showed the toast the Toast.show() function shows me TypeError: Cannot read property 'show' of null

Code:

[code]

All of the above code is inside a try catch

Remembering that the toast is displayed only once, only after a while it is displayed again without the mentioned error

[2021-08-07 14:07] puuuudding commented on #155
@cutenesss unfortunately nothing right now

[2021-08-09 12:47] rick427 opened #233 "textStyle1 styles not been applied"
Hi, so i tried changing the style of the text1 prop like so:

[code]

Problem is that the styles in FONTS.h6 i.e ( fontFamily: 'Poppins-Regular', fontSize: 12 ) are not been applied. What am i doing wrong pls ?

[2021-08-09 22:34] campsjos commented on #232
You're probably using React Navigation. If that's the case, try this: https://github.com/calintamas/react-native-toast-message#how-to-render-the-toast-when-using-react-navigation

[2021-08-09 22:38] Victorcassiano commented on #232
Is it to add on the page where the toast will be used or in App.js, which would be the root of the app?

[2021-08-10 01:19] campsjos commented on #232
In App.js, just before closing `</NavigationContainer>`. Then you can call Toast from anywhere in the app.

[2021-08-10 20:29] Victorcassiano commented on #232
I did what you asked me to do, "it works".
But toast is still having problems the difference is that when giving an error the app doesn't break, but still returns [TypeError: Cannot read property 'show' of null]

![image](https://cdn.discordapp.com/attachments/693716912542056510/874750942149496922/Captura_de_tela_2021-08-10_172716.png)

[2021-08-10 21:46] campsjos commented on #232
Your code seems correct to me, maybe Toast is not imported in your component?

[2021-08-11 17:41] Victorcassiano commented on #232
it is being imported, the problem occurs when I show toast and navigate to another screen and go back to the previous screen and try to show toast

[2021-08-12 10:41] max-frai commented on #233
Same for me, the styling is not applied.

[2021-08-12 14:12] dqyu-101 commented on #96
@trbsi
this solution saves my day!

[2021-08-19 06:58] #217 closed

[2021-08-20 14:26] rush86999 commented on #195
can confirm the toast is hidden behind status bar using the recommended approach

<img width="367" alt="Screen Shot 2021-08-20 at 10 26 09 AM" src="https://user-images.githubusercontent.com/16848240/130248458-1e0656c7-377e-405e-9db5-cc2d5ddbcac8.png">

[2021-08-23 05:40] mghozynAGIT commented on #233
Same for me, the styling in text1 is not applied.
It only works after trying insert fontWeight: 'normal' in text1Style

[2021-08-28 21:20] tamir61 commented on #220
@chernandezq

```<Toast ref={ref => Toast.setRef(ref)} config={toastConfig} type="hidden" />```

toastConfig:
[code]

CustomToast:

[code]

[2021-08-31 12:01] zidun commented on #226
i

+1

[2021-09-05 17:55] gcrozariol commented on #214
For some reason, I can't even make it work on Android. iOS works just fine. However, I see getting this "Possible Unhandled Promise Rejection" error. :(

[2021-09-06 22:26] gcrozariol opened #241 "Not working on Android"
Hi,

I came across an issue where the toast is working perfectly on iOS, however it won't show up on Android.

Here is the log I get on Android after trying to show the toast:

<img width="397" alt="Screen Shot 2021-09-06 at 7 25 01 PM" src="https://user-images.githubusercontent.com/12538405/132263494-2acb4270-1020-4f01-b3fc-82dd02b0e76b.png">
<img width="397" alt="Screen Shot 2021-09-06 at 7 25 2

[2021-09-10 10:16] calintamas commented on #110
Fixed by https://github.com/calintamas/react-native-toast-message/pull/225

[2021-09-10 10:16] #110 closed

[2021-09-14 02:37] YangRongAtGit opened #245 "How to use svg files to replace the heading/trailing icons?"
Hello,
I am trying to use some custom icons for replacing heading/trailing icons. I have something like
[code]
But the icons do not show in the toast. My question is: what is the correct way to use SVG images in the toast?

[2021-09-19 14:02] cb-eli commented on #220
I implemented the fix suggested by @tamir61. It's better than nothing, but still, there's a small jump in the UI.
Is the library still maintained? Can anyone fix it?

[2021-09-19 17:05] calintamas commented on #220
I'll mark the issue as bug and try to fix it as soon as I can. Thanks for raising it!

[2021-09-19 19:28] AshotN opened #246 "Prevent user from dismissing toast"
Is there currently any means for the user not to be able to dismiss the notification?

[2021-09-21 15:10] Pixele9 opened #247 "On iOS Toast shows behind notch"
I have configured the Toast as it says in the docs.
But it appears behind the notch when it is not triggered.

![image](https://user-images.githubusercontent.com/9836752/134197153-62ae0d0f-384c-4df8-b4b4-048fc0049e02.png)

Is there a way to move it further back to prevent it from displaying? Any work around?

Thanks in advance!

[2021-09-21 20:14] bulkinav commented on #232
I have same issue in my Android app on production, but not on iOS (!)

TypeError: Cannot read property 'show' of null, js engine: hermes, stack: show@1:595302 anonymous

App crashes with several hundred a day and it's depressing. Unfortunately I am unable to reproduce this issue as write @Victorcassiano and it does not seem to occur on all devices.

[2021-09-23 05:31] manishbss-sdei commented on #232
Same issue here ...

[2021-09-23 11:30] younisabuzayed commented on #247
If you use nativebase and wrap Toast. this is problem. You can wrap in react navigation no problem but nativebase no.
this link you can find a solution : https://github.com/calintamas/react-native-toast-message#how-to-render-the-toast-when-using-react-navigation

[2021-09-23 17:06] shabith commented on #149
Hi @aravi365, do we have a solution for this? I have implemented it by following this - https://github.com/calintamas/react-native-toast-message#how-to-render-the-toast-when-using-react-navigation and  I'm facing this issue.

Whenever I navigate to the next screen, I'm getting my old toast message appearing on the screen.

[2021-09-24 21:33] CalebLovell opened #250 "Extending existing toasts breaks trailing icon press"
For some reason, when doing this:

[code]

The trailing icon stop works. You can no longer click the little x to close the toast. I fixed it by doing this:

[code]

But that doesn't seem like it should be required. I briefly looked through the source code but couldn't quite understand what was happening. But it seemed like maybe the default values for BaseToastProps were not working.

Thanks for y

[2021-09-25 20:05] dederomagnolo commented on #246
I'm looking for this feature too. Any ideas?

[2021-09-30 23:04] nibblesnbits commented on #247
@younisabuzayed, I've implemented the solution suggested, but it doesn't work.  I still get the toast showing outside where `SafeAreaView` would render it.

![image](https://user-images.githubusercontent.com/6042917/135541065-70e2c7da-5c20-49ea-a371-475a1dc7c422.png)

[2021-10-01 04:48] younisabuzayed commented on #247
Can you send code when you put " <Toast ref={(ref) => Toast.setRef(ref)} />" on in your code?

[2021-10-01 05:42] Pixele9 commented on #247
In my case I solved it by moving the Toast component outside the </SafeAreaView> like this:
![image](https://user-images.githubusercontent.com/9836752/135571217-a5f4264c-5fab-4872-bf15-c0f6def55ecd.png)

[2021-10-03 20:04] YoannBuzenet commented on #241
Hey @gcrozariol, did you find something ?

[2021-10-04 20:54] #166 closed

[2021-10-05 01:10] AshotN commented on #82
I'm still getting this error but the toasts work. Any ideas?
`[Unhandled promise rejection: TypeError: null is not an object (evaluating 'Toast._ref.show')]`

[2021-10-06 10:10] Md-Mudassir47 commented on #149
same issue

[2021-10-07 12:40] tinni95 opened #256 "autoHide: false crashes on android"
Steps to reproduce :

Create a Toast.show and add autoHide false.

The app crashes on android.
Works fine on Ios

[2021-10-10 04:27] eulerkochy commented on #232
Same issue.  Simple stuff like this, doesn't work. Fails with the error ` TypeError: Cannot read property 'show' of null, js engine: hermes`

[code]

[2021-10-19 17:05] haveamission opened #257 "Does not play nice with Modal on React Native Web"
When trying to use the example suggested for in-modal toasts on React Native Web, I get an empty modal that is always present (even before running Toast.show()), and when trying to actually launch a modal, the behind modal toast shows still.

[2021-10-20 12:37] mixermat99 opened #258 "When i close the toast, it goes to the bottom of screen"
hi, i am using react native web with expo i have a strage issue.
when i close the toast or the toast close itsself, it goes ander the screen

![Capture](https://user-images.githubusercontent.com/22844724/138093748-8f13cc9f-af57-4acc-b1ca-0fea5e0d471a.PNG)

My configuration is:
![image](https://user-images.githubusercontent.com/22844724/138093884-aa642a82-294f-4ba2-88ea-39fa1795f00d.png)

[2021-10-21 11:18] calintamas commented on #246
Closing as duplicate of https://github.com/calintamas/react-native-toast-message/issues/154. Let's move the discussion there

[2021-10-21 11:18] #246 closed

[2021-10-21 19:07] arstropica opened #260 "Text Wrapping"
Is there a way to wrap text1 content using styling?  I have tried flexbox but it doesn't seem to work with the error config.
Thanks.

[2021-10-21 21:15] babyrusa opened #261 "Custom Icon not showing"
I'm trying to use a custom icon for my Toast with BaseToast example code. I tried to search for similar issue but could not find the answer. I'm using react-native-vector-icons/FontAwesome5 as Icon. Thank you

[code]

[2021-10-21 23:30] arstropica commented on #260
I figured it out.
The `text1NumberOfLines` parameter did the trick.

[2021-10-21 23:30] #260 closed

[2021-11-04 17:41] calintamas commented on #261
Fixed in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:41] #261 closed

[2021-11-04 17:43] calintamas commented on #256
Fixed in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:43] #256 closed

[2021-11-04 17:45] calintamas commented on #250
In `v2.0.0`, `onTrailingIconPress` has been replaced with `renderTrailingIcon` prop to gain total control over the icon layout / behavior. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:45] #250 closed

[2021-11-04 17:46] calintamas commented on #245
In `v2.0.0`, `leadingIcon`, `trailingIcon` props  were replaced with `renderLeadingIcon`, `renderTrailingIcon` to gain total control over the icon layout / behavior. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:46] #245 closed

[2021-11-04 17:47] calintamas commented on #241
Fixed in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:47] #241 closed

[2021-11-04 17:47] calintamas commented on #233
Fixed in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:47] #233 closed

[2021-11-04 17:48] calintamas commented on #232
Fixed in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:48] #232 closed

[2021-11-04 17:48] calintamas commented on #226
Fixed in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:48] calintamas commented on #219
Fixed in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:48] #219 closed

[2021-11-04 17:48] calintamas commented on #258
Fixed in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:48] #258 closed

[2021-11-04 17:48] calintamas commented on #204
Removed in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:49] #204 closed

[2021-11-04 17:49] calintamas commented on #203
Fixed in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:49] #203 closed

[2021-11-04 17:49] calintamas commented on #194
Fixed in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:49] #194 closed

[2021-11-04 17:49] calintamas commented on #192
Fixed in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:49] calintamas commented on #188
Fixed in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:49] #188 closed

[2021-11-04 17:50] calintamas commented on #176
Fixed in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:50] #176 closed

[2021-11-04 17:50] calintamas commented on #174
Fixed in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:50] calintamas commented on #172
Fixed in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:50] #172 closed

[2021-11-04 17:50] calintamas commented on #170
Fixed in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:50] #170 closed

[2021-11-04 17:50] calintamas commented on #167
Close button has been removed in `v2.0.0` (replaced with `renderTrailingIcon` prop to gain total control over the icon). [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:50] #167 closed

[2021-11-04 17:52] calintamas commented on #149
Fixed in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

Docs on how to render the Toast - [Quick start](https://github.com/calintamas/react-native-toast-message/blob/master/docs/quick-start.md).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:52] #149 closed

[2021-11-04 17:52] calintamas commented on #143
Added in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:52] #143 closed

[2021-11-04 17:52] calintamas commented on #133
Added in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:52] #133 closed

[2021-11-04 17:52] calintamas commented on #130
Fixed in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:52] #130 closed

[2021-11-04 17:53] calintamas commented on #112
Added in `v2.0.0`. [Read the complete changelog](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0).

If you find any issues with the v2 implementation, feel free to reopen this issue. Thanks!

[2021-11-04 17:53] #112 closed

[2021-11-04 20:24] chernandezq commented on #226
@calintamas thank you for you support but I continue having the same issue in Android

[2021-11-05 04:32] calintamas commented on #226
@chernandezq Can you add a code sample showing how are you rendering the Toast component?

[2021-11-05 23:27] jstheoriginal opened #279 "After toast shown within Modal, main instance outside of Modal doesn't work anymore"
First of all, this lib is fantastic. And v2 is great. Thank you!

**Describe the bug**
I have two `Toast` instances setup. One alongside `NavigationContainer` from `react-navigation`, and one within `Modal`.

When I show a toast outside of the modal, it shows fine. And when I show a toast inside of the Modal when it's visible, it works fine. However, when I try to show a toast again outside of the

[2021-11-06 03:50] jstheoriginal commented on #279
Here's a demo project that works like the videos i put above! https://github.com/jstheoriginal/RNToastMessageExample

[2021-11-08 05:58] Md-Mudassir47 commented on #149
@calintamas still facing the same issue even after the upgrade.

[2021-11-08 07:01] Majid3ziz commented on #226
Hey @calintamas, we like your package and we appreciate your efforts. I'm having the same issue here:

**Describe the bug**
Whenever a native permission is asked, the toast appears at top even if it wasn't triggered before.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Have a navigation container in App.js with the v2.0.0 toast inside at the bottom of the container.
2. triggering any

[2021-11-08 07:38] calintamas commented on #226
Hi @Majid3ziz, try rendering the Toast alongside the navigation container, like this:

https://github.com/calintamas/react-native-toast-message/blob/main/docs/navigation-usage.md

Let me know if it works

[2021-11-08 07:49] Majid3ziz commented on #226
Hey @calintamas, I tried it no luck unfortunately.

[2021-11-08 12:37] ToshKoevoets commented on #247
Also use when using on web and native, not possible to set opacity to 0 when in active? would be a lot more stable solution

[2021-11-08 17:04] siddharth-kt opened #280 "Swiping Toast up re-creates it"
**Describe the bug**
When we swipe up the Toast(with position="top") too high without removing finger (keep swiping slowly as much high as possible, don't remove finger in between swipe), then toast re-enters from middle of the page (on android) I didn't faced this problem with position="bottom".

**Expected behavior**
It should not be recreated.

**Code sample**

// In App.js
    <Toast
      pos

[2021-11-09 13:38] calintamas commented on #247
@ToshKoevoets Starting with v2.0.0, opacity is indeed 0 when the Toast is not visible.

That's exactly right, the Toast instance has to be alongside NavigationContainer. More details can be found here - [Usage with react-navigation](https://github.com/calintamas/react-native-toast-message/blob/main/docs/navigation-usage.md#usage-with-react-navigation).

I'll close the issue. If you find anything e

[2021-11-09 13:38] #247 closed

[2021-11-09 13:41] calintamas commented on #195
Make sure to render the Toast outside the SafeAreaView component.

In your case,

[code]

[2021-11-10 05:08] akimabs commented on #279
still waiting for this issue was resolved

[2021-11-12 13:47] chernandez-leantech commented on #226
@calintamas any updates or way to fix it ?

[2021-11-12 13:57] zidun commented on #226
Hi Guys, i m fork the library and i added validation on rendering the view

check my commit on the link below :
[https://github.com/zidun/react-native-toast-message/commit/78e3a7ba8345d38cabb5110057e1057f662e5055](url)

[2021-11-12 14:03] calintamas commented on #226
I haven't got the chance to investigate the issue further. I'll try this weekend and let you know

[2021-11-12 14:05] calintamas commented on #279
@jstheoriginal Thanks for the detailed explanation. I haven't got the change to look into it yet, but I'll let you know as soon as I have.

As a side-note: when I did my testing with the [Modal](https://reactnative.dev/docs/modal) component from the react-native package, everything seemed fine.

[2021-11-12 14:13] claudiozam commented on #226
@zidun are you using the last version of the react-native-toast-message code?

[2021-11-12 14:37] jstheoriginal commented on #279
Sounds good!

I did also try using the standard Modal from react native and had the same issue happen to me, fwiw.

[2021-11-12 14:41] claudiozam commented on #226
Thanks @zidun. My new patch is working.  @calintamas @Majid3ziz

diff --git a/node_modules/react-native-toast-message/lib/src/components/AnimatedContainer.js b/node_modules/react-native-toast-message/lib/src/components/AnimatedContainer.js
index 6be5fe8..fcf9414 100644
--- a/node_modules/react-native-toast-message/lib/src/components/AnimatedContainer.js
+++ b/node_modules/react-native-toast-messag

[2021-11-14 06:18] Majid3ziz commented on #226
Thanks @zidun for the solution! @calintamas is the solution viable to be included in the next release?

[2021-11-14 11:41] tommycarpi commented on #261
Is there something else to configure? I can't have it working 😅
The text appears correctly, but no image is shown.
PS. I've tested and the image appears if used elsewhere.

[code]

[2021-11-14 11:44] calintamas commented on #261
@tommycarpi The prop name is [renderLeadingIcon](https://github.com/calintamas/react-native-toast-message/blob/main/src/types/index.ts#L94-L95)

[2021-11-14 11:48] tommycarpi commented on #261
Ouch, missed that!
Thank you for the great work!

[2021-11-17 20:19] pierroo commented on #170
@calintamas actually I am still facing the issue even with v2.0.1 (which doesn't seem to mention anything related to visibilityTime?)

regardless of the value I put in it, the toast always displays for around 7000ms; which is quite a lot

[2021-11-17 22:29] pierroo commented on #280
I can confirm I am facing this issue as well on android; which even happens when swiping the toast up fast; (which we always do intuitively when wanting to close a toast)
it blinks back to the middle of the screen then up to its initial position; this is the last issue I am facing with this otherwise perfect toast plugin.

[2021-11-19 12:47] AronBe commented on #226
This issue happens on my Android app when I open a webview as well, an empty success toast just happens to appear from nowhere. The solution with `isVisible` flag resolves the issue

[2021-11-21 17:38] #280 closed

[2021-11-21 17:43] calintamas commented on #226
Unfortunately, by doing this `isVisible` fix the hide animation will no longer happen.

So, I'll look into other solutions, but for the moment I can't seem to reproduce the issue either (running on Android 10)

[2021-11-21 19:21] calintamas commented on #280
Fixed in [v2.0.2](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.2)

[2021-11-21 19:29] calintamas commented on #218
By default `BaseToast` has a fixed height. This can be changed via the [style prop](https://github.com/calintamas/react-native-toast-message/blob/main/src/components/BaseToast.tsx#L32).

[2021-11-21 19:29] #218 closed

[2021-11-21 19:32] calintamas commented on #195
Closing as [the docs have been updated for v2](https://github.com/calintamas/react-native-toast-message/blob/main/docs/navigation-usage.md#usage-with-react-navigation). If there are any other issues, feel free to re-open

[2021-11-21 19:32] #195 closed

[2021-11-21 19:33] siddharth-kt commented on #280
I am sorry but its still happening. 🤔

[2021-11-21 19:36] calintamas commented on #205
Closing as [the docs have been updated for v2](https://github.com/calintamas/react-native-toast-message/blob/main/docs/navigation-usage.md#usage-with-react-navigation). If there are any other issues, feel free to re-open

[2021-11-21 19:36] #205 closed

[2021-11-21 19:40] calintamas commented on #280
@siddharth-kt Make sure it's not some cache issue with npm / node_modules and you are indeed running v2.0.2. I can no longer reproduce the issue on my side

[2021-11-21 19:53] calintamas commented on #214
Issue should be fixed in [v2](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.0.0). If not, feel free to re-open

[2021-11-21 19:53] #214 closed

[2021-11-21 19:55] siddharth-kt commented on #280
Sorry my bad, its working fine now (yeah it was cache issue) thanks. 😅

[2021-11-23 15:19] pierroo commented on #279
Facing the same issue; will update here if ever I find anything...
For the time being, did anyone find a solution yet?

[2021-11-24 16:39] Allwithyou999 commented on #257
Please use react-native-toast-notification. That works for web.

[2021-11-25 14:40] sdumjahn opened #282 "Can't make the toast message uses the whole screen width"
**Describe the bug**
In previous versions I could set the width of the toast message to 100% and the messages uses the whole screen width.
Since the version 2 this does not work anymore.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Add the Toast component to your app and add a custom success component based on the `BaseToast` component.
2. Add a custom style to make the width to 100

[2021-11-27 09:40] calintamas commented on #282
Hi @sdumjahn, try using the [Dimensions API](https://reactnative.dev/docs/dimensions)

[2021-11-27 12:09] calintamas commented on #279
@jstheoriginal First, thank you for taking the time to create a repo, it was very helpful for reproducing the issue 🙌

Second, I think I have a solution, published in a `v2.1.0-beta.1` version of the package, which fixes the issue (at least on my side).

There is a change in API in this version, that needs to be done for it to work:

1. On the Toast instance that's rendered in your **app root**:
[

[2021-11-27 13:32] jstheoriginal commented on #282
yeah this one threw me for a loop when upgrading. It's probably worth mentioning in the docs that flexbox doesn't work for automatically setting width/height dimensions.

[2021-11-27 13:35] sdumjahn commented on #282
@calintamas: Thanks for this advice. I found this workaround a few minutes after I created the thread, but I think that this is a bad solution and I would preferrer to have a solution based on flexbox.

When this is not possible, I think it should be good to mention this workaround in the docs.

[2021-11-27 14:59] jstheoriginal commented on #279
Tested it out and it works like a charm now! Thanks!

Two things of note:

1. autohide

For some reason, the modal instance never seems to obey the autohide value provided via the show function if setting autohide to true in the toast instance. It always automatically hides, while the root instance will correctly obey the prop's value.

I have `autoHide={true}` set by default in the instance, and

[2021-11-27 20:11] jstheoriginal commented on #279
Note: I just found out that It's also not possible to show a toast inside of a `Modal` while presenting a screen natively via the `presentation: 'modal'` type, as it'll just use the one that had the latest `setModalRef` set (both need their own instances and need to use `setModalRef`). So If you have a `Modal` inside of one of these screens, the `Modal`'s toast gets set to the modal ref first, and

[2021-11-27 21:57] calintamas commented on #279
@jstheoriginal Can you please push this last demo example to your repo? I want to explore a bit how the library exposes this "setRef" API. As the nesting level increases past 3, these 3 functions will again not be enough.

In general, maybe we can avoid having too many (different) functions, as they might cause confusion as to how they should be used.

I'm thinking of maybe having something like:

[2021-11-28 17:07] tones31 commented on #34
Yes, there is a simple solution. Any full screen modal should instead simply be a screen. There's not really any reason that a modal should be the entire size of your screen. That is a screen. Modals should only be used for "mini" screens. In fact a modal and a toast are not much different. Anyway, if you take this philosophy (took me about 10 mins of refactoring my modals to screens) you can avoi

[2021-11-28 18:07] jstheoriginal commented on #279
Yeah i think that makes sense! Will make the updated example in a bit for you to play with.

I did find an issue with my way, and it's probably not super straightforward of an issue to solve.

Since a Toast instance needs to exist in each modally-presented react-navigation native stack screen in order for toasts to not be rendered underneath when using `presentation: 'modal'`, it causes an issue w

[2021-11-28 18:57] jstheoriginal commented on #279
@calintamas I just pushed changes that add the modal screens. the first tab runs the demo in a non-modal, and the second tab runs it inside of the first modal. the last button in the demo shows the 2nd modal screen. Hopefully this works for you.

https://github.com/jstheoriginal/RNToastMessageExample

![Simulator Screen Shot - iPhone 11 - 2021-11-28 at 12 57 07](https://user-images.githubuserconte

[2021-11-30 20:51] calintamas commented on #279
@jstheoriginal Thank you, I'll hopefully be able to take a look tomorrow. Anyhow, as soon as I have the 2nd beta, I'll ping you here. Really appreciate your help on this!

[2021-11-30 20:57] calintamas commented on #282
I'll have to check though, maybe it could be supported. I think it's the [container style](https://github.com/calintamas/react-native-toast-message/blob/main/src/components/AnimatedContainer.tsx#L127) which breaks it

[2021-12-02 16:51] damian-balas commented on #282
Yes, you probably shouldn't center the content. I want to show it on the right side.
I Had to do a margin: 20% and max width 80% trick.
That's OK for now... but I'd like to have the possibility to change the root container styles anyway :)

[2021-12-05 10:55] calintamas commented on #279
@jstheoriginal I just published `v2.1.0-beta.2`.

Here is the commit that integrates it in your example repo: https://github.com/calintamas/RNToastMessageExample/commit/4e255791b2a8a0730dda85b07bef040719083593. Please check it out when you can and see if you find any issues. From my exploration, everything seems fine.

I've also updated the docs on the v2.1.0 branch - [How to show the Toast inside

[2021-12-05 19:06] jstheoriginal commented on #279
@calintamas Just put up this PR. Let me know what you think. https://github.com/calintamas/react-native-toast-message/pull/293

[2021-12-07 10:14] calintamas commented on #279
@jstheoriginal Taking a deeper look today. I like the idea of completely handling refs internally 👍

[2021-12-08 07:08] #279 closed

[2021-12-09 21:14] calintamas commented on #282
Fixed in `v2.1.0`.

It should be possible to have a full width Toast via:
[code]

Or change its alignment:

[code]

[2021-12-12 13:01] calintamas commented on #280
Hi @danieldaukapp, I'll have to check, thanks

[2021-12-12 15:06] harensarma opened #295 "give an option to change text 2 color or make text2 color little darker"
give an option to change text 2 color or make text2 color little darker

[2021-12-12 18:36] albiCoder commented on #163
I just set the elevation = -1 for components showing on top of toast. It solved the issue for me.

[2021-12-12 19:12] calintamas commented on #295
@harensarma It can be done via the [`config` prop](https://github.com/calintamas/react-native-toast-message/blob/main/docs/custom-layouts.md).

[2021-12-12 19:12] #295 closed

[2021-12-16 10:35] HrideyReact opened #296 "Overlap issue with view inside modal"
**Steps to reproduce**
Steps to reproduce the behavior:
1. Add a view inside modal.
2. Add toast '<Toast />' inside the view
3. Display toast

**Environment (please complete the following information):**
 - OS: [iOS, Android]
 - react-native-toast-message version: [e.g. v2.0.0]
 - react-native version [e.g. v0.65.0]
![simulator_screenshot_36CA5273-1271-4962-89CA-6238B5CDBECC](https://user-images.g

[2021-12-16 10:36] #296 closed

[2021-12-16 10:37] HrideyReact opened #297 "Overlapping issue of toast"
Steps to reproduce the behavior:

Add a view inside modal.
Add toast '' inside the view
Display toast
Environment (please complete the following information):

OS: [iOS, Android]
react-native-toast-message version: [e.g. v2.0.0]
react-native version [e.g. v0.65.0]

![simulator_screenshot_8FF11327-3738-422A-B70B-6CA271B4E78C](https://user-images.githubusercontent.com/92137808/146355936-2167481b-810

[2021-12-17 10:28] damian-balas commented on #282
@calintamas Sadly only the child element is 80% and aligned to the right.
The issue is that I have a button behind the toast that I want to click.

![image](https://user-images.githubusercontent.com/39343843/146530381-1001b492-649e-4108-bf14-a8d64e0605bc.png)

I cannot click the back button. It would be perfect if I could change the styles of the parent as I mentioned in my previous comment :) Tha

[2021-12-17 21:00] damian-balas opened #298 "Custom modal with position absolute is overlapping Toast"
**Describe the bug**
I have a custom modal with absolute position and z-index: 9999.
The issue is that the Toast is under the modal.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Configure any Toast
2. Create a fullscreen modal on the same level with position: absolute and z-index: 9999
3. Try to show a Toast message

**Expected behavior**
The Toast component should be visible

**Cod

[2021-12-17 21:04] calintamas commented on #297
Hi @HrideyReact, can you add the code to reproduce it (or just to get an idea)?

Also, you should probably have the `<Toast />` instance alongside the `View` container that wraps your modal:
[code]

[2021-12-18 10:27] calintamas commented on #282
@damian-balas Hi, I'll have to think more deeply about it.

Ideally, the container styles are provided by the lib and there would be no need to change them. I want to avoid possible layout issues occuring due to not having the complete mental model of how it works and making wrong assumptions when changing the styles.

The main objective is to keep a nice DX in general, while also trying to suppor

[2021-12-18 10:30] calintamas commented on #298
@damian-balas Are you rendering a Toast instance inside your Modal as well?

I think a code sample would help, tbh.

[2021-12-18 10:51] damian-balas commented on #298
No, there is only one <Toast/> in  App.js
The "modal" is just a ```<View style={{position: 'absolute', zIndex: 9999, top: 0, height: '100%', width: '100%', background: 'red' }}/>```

[2021-12-18 10:55] calintamas commented on #298
You can follow this guide - [How to show the Toast inside a Modal?](https://github.com/calintamas/react-native-toast-message/blob/main/docs/modal-usage.md)

[2021-12-18 10:58] damian-balas commented on #298
Oh, I thought it's only when you use a react-native modal. Are there any performance issues when using many <Toast /> instances?

[2021-12-18 11:03] calintamas commented on #298
I assume you render your absolute positioned `<View />` conditionally based on some `isVisible` state. In that case, `<Toast />` instance refs are tracked internally and cleaned up on unmount.

[2021-12-18 11:04] damian-balas commented on #298
Awesome! Sorry for wasting your time :)

[2021-12-18 11:04] #298 closed

[2021-12-19 09:48] #282 closed

[2021-12-19 09:58] calintamas commented on #282
@damian-balas Fixed in [v2.1.1](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.1.1), taps behind the Toast should be possible now :)

[2021-12-19 10:06] calintamas opened #299 "If I touch and hold toast, it never hides"
Not sure if it is intentional behavior, but if I touch and hold toast, it never hides (`autoHide` is set to `true`). The hiding animation takes place, but toast stays on screen infinitely. You may need to pull your finger down a bit after the hiding animation is complete in order to display toast again. I get this behavior on iOS as well as Android. Package version: 2.1.0

_Originally posted by @d

[2021-12-20 15:25] Zakyyy opened #300 "On going to background or app switcher on Android the popup appears"
**Describe the bug**
On Android when I go to background or to the app switcher the pop up appears without calling it

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to Background/Appswitcher
2. The toast will appear

**Expected behavior**
Nothing to show unless I call it

**Environment (please complete the following information):**
 - OS: Android
 - react-native-toast-message versio

[2021-12-21 06:24] Tanzeel-ur-rehman-git opened #301 "Positon on top from left to right animation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-12-22 13:17] shettayyy opened #302 "On Android, the layout and style for types are broken"
**Describe the bug**
On Android, the layout and styles are broken. I have added the screenshot for better clarity. This issue doesn't persist on iOS.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Install the latest version of `react-native-toast-message`
2. Place the `<Toast />` in the root after `NavigationContainer` as mentioned in the doc.
3. Call `toast.show({
        type: 'succ

[2021-12-24 15:11] EIrwin commented on #302
Seeing the same issue, however it is not happening on all devices, and doesn't happen on emulators

[2021-12-24 15:30] shettayyy commented on #302
@EIrwin The screenshot I have posted is of a emulator on which I was testing.

[2022-01-06 16:36] jpaas opened #311 "useNativeDriver causes warning on web"
**Describe the bug**
When used in the web environment this warning is generated...

[code]

**Expected behavior**
Conditionally `useNative` depending on the platform?

**Environment (please complete the following information):**
 - OS: Web
 - react-native-toast-message version: 2.1.1
 - react-native version: 0.67.0-rc.6

[2022-01-11 10:51] Menardi commented on #226
I've been seeing this issue too, although in a slightly different situation. I have a checkout flow in a `Modal`, and at the end of it, I open Stripe's checkout modal. When the Stripe checkout modal opens, an empty toast shows at the top of the screen (underneath the Stripe modal, but above the checkout modal).

Following the [modal guide](https://github.com/calintamas/react-native-toast-message/b

[2022-01-11 16:16] zidun commented on #226
Thank

Thank you @Menardi working well

Hi @calintamas could you add new props for `useNativeDriver ` ?

[2022-01-12 15:34] maximewim commented on #34
For me, it only work if I place the Toast component after the content of my modal.

For instance, this will work :
[code]
and this not :
[code]

[2022-01-14 05:29] sangameshsomawar opened #312 "Use minHeight and minWidth instead of height & width."
When we set text1NumberOfLines more than 1 then the text is not visible, because height is fixed.

https://github.com/calintamas/react-native-toast-message/blob/main/src/components/BaseToast.styles.ts#L11

[2022-01-14 07:42] calintamas commented on #312
Hi @sangameshsomawar, you can [overwrite the container styles](https://github.com/calintamas/react-native-toast-message/blob/main/src/components/BaseToast.tsx#L32) with the `style` prop on `BaseToast`. I think this covers your use-case, right?

[2022-01-14 08:01] sangameshsomawar commented on #312
@calintamas: Thanks,  It worked.

[2022-01-14 08:01] #312 closed

[2022-01-19 06:17] ranshine opened #313 "Error: Text strings must be rendered within a <Text> component"
I tried Custom layouts from documentation, i got this error

Error: Text strings must be rendered within a <Text> component.

[code]

[2022-01-26 02:58] Dev-miniyoung commented on #214
@calintamas Is this bug fixed? It's still appearing. I'm using the 2.0.2 version

[2022-01-27 11:27] blueberrry commented on #313
Hi! I was experiencing the same issue since upgrading.

If I was passing an empty string to text1 or text2 it was erroring out.

So I changed it to this

`type ToastConfigTypes = {
      type: string;
      text1?: string;
      text2?: string;
    };
    const showToast = ({ type, text1, text2 }) => {
      let toastConfig: ToastConfigTypes = {
        type,
      };

      if (text1.length > 0)

[2022-01-30 15:54] tapz commented on #300
When my app asks mic permissions after app has been started an empty toast is displayed until the permission popups disappear. Why can't the toast be created to be out of the screen?

[2022-01-31 15:03] Mirjo commented on #313
I have the same issue when calling Toast.show(...) from outside a React Component i.e from a plain TypeScript file. Moving the method call back into a React Component it works just fine

[2022-02-02 13:42] Hajan39 opened #320 "Would it be possible to each toast type be positioned separately?"
I need to implement two types of toast notification. The first is top notification and the second one is bottom notification. Currently, I am using two different libraries. It would be great if the current library would be able to do it.
Or do you have some workaround?

[2022-02-02 14:17] calintamas commented on #320
Hi @Hajan39, you could always show a certain type with position: top and some other type with position: bottom

[code]

As long as you don't need both of them visible at the same time, it should work fine.

[2022-02-02 14:24] calintamas commented on #313
I think the problem here is that you have a semicolon at the end of the statement `;`

I'll create a fix for this use-case

[2022-02-06 21:19] babar7 commented on #299
Yeah, also facing the same issue, touch and swipe lil bit down and hold then release, it never hides. And if you hold longer it hide and reappear  when release the touch.

[2022-02-08 15:43] calintamas commented on #226
Hi @zidun, @Menardi, thanks for looking into it. I think a default as `true` and a prop on the main `<Toast />` instance would be a good-enough solution for now.

I'll try to add it in the following days

[2022-02-11 01:22] liemdo opened #323 "The toast is on top of other components when it's hidden"
**Describe the bug**
When the toast is already hidden, it's transparent and still stays on top of other components. This prevents the pressable components underneath to work properly.

**Expected behavior**
The toast container has to move out of the screen or totally disappears when hidden so it won't affect other components.

**Screenshots**
<img width="443" alt="Screen Shot 2022-02-10 at 5 19 02

[2022-02-11 03:49] liemdo commented on #323
It turned out that I have to add `pointerEvents` to my custom layout as well to control if the underneath components should be touchable when the toastcontainer is hidden.

[2022-02-11 09:30] lxhau commented on #280
A bug has opened on version 2.1.1. Not hide toast when show position in top.

[2022-02-22 08:45] vivek1209codeb opened #324 "ERROR Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Tap on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code sample**
To help debugging,

[2022-02-22 16:57] JavaScriptJohn commented on #302
This is happening to me on a physical iPhone 8. Any update?

[2022-02-22 17:13] JavaScriptJohn commented on #302
This is fixed by changing the width from 340 to 300 or 90% in BaseToast.styles.js. Is there a way to adjust this without changing the source code (config options maybe)?

[2022-03-01 09:12] hirbod commented on #300
I can confirm that this is also happening for me in expo-dev-client.
As soon as I open the app switcher, it appears (and even freezes in place when I receive an SMS for example)

[2022-03-01 14:42] jackwullems opened #332 "onHide is not called. v2.1.0"
version 2.1.0
platform: iOS
deafualt config
Expected behavior:
onHide routine should be called when close action occurs or  disappears after visibilityTime.

[2022-03-10 09:51] RWOverdijk commented on #154
👋 Has this feature been implemented? Or do I still have to use the fork for that?

[2022-03-11 05:08] jzxchiang1 commented on #132
I'm getting this same error in Android.

When I press the home or "switch apps" button, I see an empty green toast get displayed briefly.

[2022-03-11 05:18] jzxchiang1 commented on #226
This fixed it for me. Thank you!

[2022-03-13 18:16] Guilherme5342 commented on #163
Is there any update on this? I have a floating menu button with the same problem

[2022-03-14 18:04] siddharth-kt commented on #154
Hi @calintamas, same question. (is this feature implemented.)

[2022-03-14 19:17] calintamas commented on #154
Hey, unfortunately, not yet. I'll try in the next couple of days, or the latest during the weekend

[2022-03-14 19:19] calintamas commented on #332
Hi @jackwullems, please add a repro. All tests checking for onHide being called are passing.

[2022-03-14 19:20] #320 closed

[2022-03-16 06:26] odenlerma commented on #324
try this
const CUSTOM_TOAST = React.forwardRef((props, ref) => (
    <Toast config={toastConfig} ref={ref} />
));

[2022-03-16 15:03] angecas opened #333 "Costumize Toast messages"
Hello, can someone tell me if this package allows to costumize the toast messages in functional components? I am not being successfull even using useRef hooks. I would like to know, if someone manage doing it , can please explain me how ?

This package looked good because it shows on modals, but the default appearence doesnt go with rest of my app at all.

please, help?

[2022-03-16 18:50] calintamas commented on #333
Hi @angecas, yes, you can create custom layouts (either by overloading existing toast types, or creating completely new ones). Here is the documentation: https://github.com/calintamas/react-native-toast-message/blob/main/docs/custom-layouts.md

Let me know if you have any questions

[2022-03-16 21:34] jackwullems commented on #332
Sorry, it was my fault.
In my case toast is showing twice then the first toast's onHide is not calling.

[2022-03-16 21:34] #332 closed

[2022-03-17 05:56] calintamas commented on #324
There should be no need for a ref to the `<Toast />` instance. What is your use-case?

[2022-03-17 05:59] calintamas commented on #302
Hi @JavaScriptJohn, that's a good insight, I'll mark it as a bug indeed.

In the meantime, it can be adjusted like this

[code]

[2022-03-17 06:03] #311 closed

[2022-03-17 10:24] JavaScriptJohn commented on #302
Very helpful, thank you.

[2022-03-19 07:39] calintamas commented on #257
Should be fixed in [v2.1.2](https://github.com/calintamas/react-native-toast-message/releases/tag/v2.1.2), please let me know if you have any issues

[2022-03-19 07:39] #257 closed

[2022-03-21 16:35] Marzdor opened #337 "null is not an object (evaluating 'w._ref.show')"
**Describe the bug**
Not exactly sure how it is happening or what is causing it yet. I just see the error in Sentry logs.

It seems to hit here
[code]

**Environment (please complete the following information):**
 - OS: Only see it on Android
 - react-native-toast-message version: 1.4.7
 - react-native version: 0.64.2

[2022-03-24 11:01] loh-aivy commented on #175
[code]

worked for me

[2022-03-24 19:58] calintamas commented on #337
Hi @Marzdor, I strongly suggest an upgrade to v2 (latest is v2.1.2). The API is very similar to v1 and there are only a few breaking changes so it should be pretty easy to upgrade.

v2 is much more stable when it comes to ref handling.

[2022-03-24 20:59] Marzdor commented on #337
Okay, thank you @calintamas I will bump the version and see if is resolves.

[2022-03-25 06:43] RushirajJhala opened #339 "text1NumberOfLines props not working"
text1NumberOfLines props not working ,
it always shows 1 only line

[2022-03-29 16:29] rcb4t2 opened #341 "Opt out of automatic Keyboard handling"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when the Toast is triggered near the same time as the keyboard is dismissed. The Toast tends to hang up at the keyboard offset position even after the Keyboard has gone away

**Describe the solution you'd like**
A prop to opt out of automatic keyboard handling. `isKeyboardAware: boolean` would be great

**Desc

[2022-03-29 16:43] rcb4t2 commented on #341
Edit: We updated to the latest version, and the Toast now correctly jumps back down when the keyboard is dismissed. However, it still starts up at the offset location and then jumps down, looks awkward

Our code looks something like this
[code]

[2022-03-29 16:48] rcb4t2 commented on #341
@calintamas I was able to fix this bug by updating the useSlideAnimation hook

Wrapping translateY with `useMemo` fixes it (putting keyboardHeight and the other values in the dependency array)

[code]

[2022-03-31 07:00] oimolab commented on #324
After updating version from 1.6.0 to 2.1.3, same warning message also happened to me. But just removing  ref of <Toast /> solved this warning quickly as the above comment. Please try it.

[2022-03-31 08:20] calintamas commented on #324
Indeed, the ref is no longer required in v2. See more here - [Quick start](https://github.com/calintamas/react-native-toast-message/blob/main/docs/quick-start.md#usage)

[2022-03-31 12:40] IngyuTae commented on #300
Same here. Any update on this issue?

[2022-03-31 18:14] rcb4t2 opened #344 "Opt out of automatic keyboard handling"
**Is your feature request related to a problem? Please describe.**
When `Keyboard.dismiss()` is called near the time that `Toast.show()` is called, the Toast will sometimes render above the now-hidden keyboard, before jumping down. It would be great to be able to opt out of keyboard-aware handling for use cases where the keyboard is dismissed at a similar time as the toast is shown

**Describe the

[2022-04-01 08:04] urrvesh commented on #300
const config: ConfigParams = {
  success: (props) => {
  return **props.isVisible** ? <Component /> : null
  },
};

<Toast
    position={'bottom'}
    config={config}
/>

props.isVisible should work here. Working fine for me. Thanks

[2022-04-01 10:13] pankaj-k-simformsolutions commented on #299
@calintamas  any update on this

[2022-04-01 17:59] shop-fluencer opened #351 "ts error in ref"
Hello,

why I get this typescript error?

[code]

and how can I solve it ?

it comes here at ref:

`   <Toast position='bottom' ref={(ref) => Toast.setRef(ref)} />`

[2022-04-01 18:17] doougui commented on #299
Facing the same issue here.

[2022-04-02 10:28] calintamas commented on #351
The ref is no longer required in v2. See more here - [Quick start](https://github.com/calintamas/react-native-toast-message/blob/main/docs/quick-start.md#usage)

[2022-04-04 12:42] mikicnemanjaeyc commented on #300
Thank you for this workaround

[2022-04-04 15:58] #324 closed

[2022-04-06 10:27] sushantWemotive commented on #299
same issue here

[2022-04-07 07:06] vasylnahuliak commented on #300
`Toast` does not work for me if it is higher in the hierarchy than the navigation.

Could you show your App.js?

[2022-04-07 15:56] mikicnemanjaeyc commented on #300
@vasylnahuliak you are right, lol
I updated the default success modal that is being displayed: `export default toastConfig = {
  success: () => <></>,
};` , masking it so its not visible

[2022-04-10 15:53] jeremiahtam commented on #226
This solved my problem. It seems this issue has not been fixed yet in the latest update.

[2022-04-11 12:32] stepas-dev commented on #154
this would be nice to have

[2022-04-15 10:20] fobos531 opened #353 "Allow passing custom refs to specific Toast instances"
**Is your feature request related to a problem? Please describe.**
Hello, I have a use case where I need to display the Toast inside a modal. The built-in solution of tracking the refs internally so the correct one is used when `Toast.show()` is called inside a modal is great! However, I would like to have an ability to **actually** call the **outside**, i.e. a specific Toast instance from within

[2022-04-17 19:48] Mansi-Bigstep opened #354 "Swiping up in ios , creates an empty toast in bottom position."
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Tap on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code sample**
To help debugging,

[2022-04-18 09:35] Saalim95 commented on #354
I am also having the similar issue in android. When I swipe slightly down at the top of screen an empty Toasts shows up.

[2022-04-18 09:37] Mansi-Bigstep commented on #354
try props.isVisible and render differnt component accordingly.

[2022-04-18 12:05] Mansi-Bigstep opened #355 "Toast message not appearing above keyboard in ios"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Tap on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code sample**
To help debugging,

[2022-04-18 12:05] #354 closed

[2022-04-18 12:05] Mansi-Bigstep commented on #354
try props.isVisible and render differnt component accordingly.

[2022-04-20 06:09] zubin-zeptonow commented on #337
This is also happening on version 2.1.5.

OS: iOS
react-native-toast-message version: 2.1.5
react-native version: 0.64.1

[2022-04-28 19:51] #333 closed

[2022-04-29 08:07] mrshahzeb7 commented on #299
any solution ?

[2022-04-29 09:34] mrshahzeb7 commented on #299
used this logic
it is working for me

  const [isVisibleToast, setisVisibleToast] = useState(false);

  useEffect(() => {
    if (isVisible) {
      setisVisibleToast(true);
    } else {
      setTimeout(() => {
        setisVisibleToast(false);
      }, 2000);
    }
  }, [isVisible]);

  return isVisibleToast ? (
    <View style={styles.container}>
      {
        //custom Toast
      }
      </V

[2022-05-03 17:47] omeranar1 commented on #104
did you solve the problem
`Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?`
***
`import React, { useState, useEffect, useRef } from 'react';
import { View, TouchableOpacity, Text, StyleSheet } from 'react-native';
import Toast from 'react-native-toast-message';

export default function App() {
   const toastRef = use

[2022-05-04 08:54] #313 closed

[2022-05-05 08:00] erhanersoz commented on #104
@omeranar1 I don't remember. 😞

[2022-05-06 21:22] omeranar1 commented on #104
thank you, I found another package similar to this repo with supporting multiple notifications. problem solved.
`react-native-toast-notifications`

[2022-05-13 06:38] cardiffinc commented on #300
Is there any update on this?
I'm facing the same issue and re-production steps is similar to comment#1

[2022-05-15 15:11] Anael-dev commented on #344
facing also the same issue, is there any way to disable the keyboard-aware behavior?

[2022-05-17 08:49] jimkhan commented on #339
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-toast-message@2.1.5` for the project I'm working on.

Here is the diff that solved my problem:

[code]

[2022-05-17 14:47] ashish293 commented on #300
This Worked for my Thanks

[2022-05-17 15:16] mganchas commented on #339
Hi, to me it wasn't enough using @jimkhan's approach. Besides changing the `height` to `minHeight`, I also changed had to change the following file `node_modules/react-native-toast-message/lib/src/components/BaseToast.js`:
- from default value `text1NumberOfLines = 1` to `text1NumberOfLines = 5`
- removed the setter for the `ellipsizeMode='tail'` property.

Hope it helps 👍

[2022-05-18 01:09] slatqh commented on #149
Don't know if it's make sense to anybody, but I just downgrade to 2.0.0 version and it solve that issue for me, without braking any existing functionality in our project.

[2022-05-19 04:14] dallasnorton commented on #205
I am still having issues with this. @artvichi did you get this working? Only when `position="bottom"`, and I do have `position: 'absolute'` on my custom config, although that doesn't matter having the default config still has this issue.

[2022-05-25 05:05] jjspscl opened #367 "Custom Type not Showing"
**Describe the bug**
I have followed the [setup instructions](https://github.com/calintamas/react-native-toast-message/blob/HEAD/docs/custom-layouts.md) where I put a Toast instance in the end of the root component

[code]

When I call/show the toast in a Route/Component it shows the following error
[code]
![image](https://user-images.githubusercontent.com/39576222/170182961-c5835ac7-c01c-4b47-b54

[2022-05-26 06:59] hirbod commented on #300
@calintamas I'll set a bounty of 50 USD if you fix this properly at the root (without any weird `null` hacks)
If it's fixed until Saturday, I'll increase it to 100 USD.

Whoever fix this correct first, gets the bounty!

[2022-06-01 11:01] hirbod commented on #300
@TheSteveHan thanks for pointing that out. I still feel like disabling the native driver is not a real solution, but I might end up to patch this platform based for android only.

[2022-06-01 11:29] hirbod commented on #226
I think I am going to port this library to Reanimated to get rid of the bare RN Animation System.

[2022-06-01 11:29] calintamas commented on #300
I also started looking into it during the weekend. Main issue is that I can't reproduce locally, but I think @TheSteveHan's solution can be a good-enough workaround for now. I'm close to exposing `useNativeDriver` as a prop to the Toast instance, just need to wrap a few things up

[2022-06-01 12:21] TheSteveHan commented on #300
The issue doesn't occur in the emulator for me. I'm seeing this issue on 2 samsung android devices running Android 12 and Android 11. However, I couldn't reproduce the issue on emulator either. Disabling useNativeDriver resolved the issue for me on both devices.

[2022-06-01 12:34] tapz commented on #300
One way to reproduce this is to ask some permission in the native code when the app has started. This freezes the toast until the user has given the permission.

[2022-06-01 12:40] TheSteveHan commented on #300
Since there's no performance concern here really, is using the native driver really a requirement?

If using the native driver is a hard requirement, perhaps the solution might have to be something like moving the default state of the toast off of the screen and animate it in so that when the animation system is reset the toast is hidden?

[2022-06-01 13:17] tapz commented on #300
I agree with @TheSteveHan that the toast should initially be placed outside of the screen and then transformed to the screen using the animations.

[2022-06-02 15:38] calintamas commented on #300
I think setting up the initial position outside the screen can be the solution indeed.

I published it as `v2.2.0-beta2`, please install it and see if it fixes the issue.

[code]

[2022-06-09 10:43] Hitarthbhatt opened #378 "Toast behind keyboard issue"
When keyboard is up and toast position is bottom, it's covered by keyboard! Is it possible to come upon keyboard view? (Specific Android Device)

[2022-06-13 14:45] VijinR opened #379 "Is RTL supported?"
I18nManager.forceRTL(true)
but position still left to right

[2022-06-14 02:23] RocCaiy23 opened #380 "It is strongly required that each toast can use a separate instance to show or hide"
I added a toast to each page. When switching pages after calling `Toast.show()` or `Toast.hide()` for a long time, it often acts on the toast of the previous page. This is a bug. solve?

[2022-06-18 18:50] calintamas commented on #300
Was anyone able to test it?

[2022-06-19 07:32] hirbod commented on #300
@calintamas I tried it. It is still flashing for a moment and disappears after. I would not call it fixed

[2022-06-19 09:39] MagicAce1988 commented on #154
I have a great solution that I figured out for my app as I needed for example for the toast message to not be dismissable when user is offline and app shows a notification about user being offline:

Wherever you have your Toast instance in your app surround it with a view like this:

[code]

Then `canInteract `can be a piece of state at app level that you can change depending if you want the notif

[2022-06-19 17:28] marziolek commented on #205
@calintamas still also having that issue. Once toast is hidden = animated down it generates more scroll since it is transformed.
Basically, why we cannot use `position: fixed;` instead of `position: absolute;`?

[2022-07-01 05:19] jotilohana opened #390 "Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?"
Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?

[2022-07-04 07:17] calintamas commented on #390
Are you setting a ref on your `<Toast />` instance? It's [no longer required in v2](https://github.com/calintamas/react-native-toast-message/blob/main/docs/quick-start.md)

[2022-07-05 08:57] afilp commented on #302
Is this fixed within the library itself? Thanks.

[2022-07-07 01:36] NemyaNation commented on #250
@calintamas , now that we can render our own icon + touchableOpacity how can we code it so that it has the same functionality as before. i.e `Toast.hide()`

[2022-07-13 16:05] ntrabue commented on #380
Is there a reason you need a separate Toast component on every page? I have one `Toast` component in my `App.tsx` and one in my `ModalScreen.tsx` since they are on separate view layers but the `Toast.show()` args essentially give you infinite flexibility with regards to what is shown and how the toast looks.

[2022-07-13 17:08] ntrabue commented on #353
I have the same need. Specifically I have a toast rendered in my `App` and a toast rendered in my `ModalScreen`

In one of my modals the user changes a date and then submits that change. If the call is successful I want to dismiss my modal and then render the root toast in my `App` component. If the call is unsuccessful I want to show an error toast within the modal. The success scenario creates a

[2022-07-15 02:15] dsws commented on #195
Thank you!

[2022-07-25 07:26] redy159 opened #392 "[Android] Gesture doesn't work when the toast is transformed out of its original area"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Show toast message with the container of the toast have transform style that make the toast move above its original area
``
`` transform: [{translateY: Animated.Value}]
``
2. Try to interact with the toast message
3. No gesture responded, the component behind the toa

[2022-07-31 10:45] NickWhiu commented on #339
I found it works to use text1NumberOfLines = 0 like the docs said, then it wraps perfectly for me.

[2022-08-03 14:17] BernardoBF4 opened #397 "Different behaviour for Android and iOS number of lines"
**Describe the bug**
The Android version of my app can dispay more than 2 lines for the text1 prop, but the iOS can't. I've create a variable to be the number of lines depending on the text passed as the text1 prop.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a customized error toast as specified in the code bellow.
2. Try throwing errors that use the error toast with differ

[2022-08-12 10:14] itea2828 opened #398 "Error: Text strings must be rendered within a <Text> component"
In latest version of expo I am getting the following error

[2022-08-15 22:35] sznrbrt commented on #226
[code]
The issue still persist, but solution by [@Menardi](https://github.com/calintamas/react-native-toast-message/issues/226#issuecomment-1009841777) works! Cheers!

[2022-08-17 13:30] tankers746 commented on #398
Seems to be an issue when title is an empty string

[2022-08-26 01:19] rhfksl commented on #367
I don't know why but it works when I set config file as v1.
[code]

it works, but it causes type error. I'm also struggling with that problem.

[2022-09-06 19:41] go-sean-go opened #404 "Add callback to static `Toast.hide()` function"
**Is your feature request related to a problem? Please describe.**
I have a situation where a custom Toast component is shown by a parent view (it performs long-running work), and that custom component is itself responsible for dismissing itself. This works fine, but currently there is no way for the

**Describe the solution you'd like**
`Toast.hide()` should accept a callback that fires after the

[2022-09-07 17:01] go-sean-go opened #405 "Add prop to prevent manual dismissing (dragging) of the Toast message"
**Is your feature request related to a problem? Please describe.**
I have a long-running Toast that shows the user the state of a process that can take 10-15 seconds (or even more). This is a custom component, i.e.

**Describe the solution you'd like**
I'd like a prop that prevents dragging or dismissing the Toast (except by explicit code-level action, i.e. `Toast.hide()`). Basically ensuring that

[2022-09-07 17:19] go-sean-go opened #406 "Custom Toast messages are never unmounted"
**Describe the bug**
When using a custom toast component, i.e.

[code]

...the custom component is never unmounted. Specifically, React Hooks return functions are never called, i.e.

[code]

This creates various challenges in managing the lifecycle of the Toast and state.

**Steps to reproduce**
1. Implement custom toast component and register it with `<Toast config={} />`
2. Call `Toast.show()` -

[2022-09-08 13:58] Jigalag opened #407 "Please provide possibility set zIndex to AnimatedContainer"
base: {
        position: 'absolute',
        left: 0,
        right: 0,
        alignItems: 'center',
        justifyContent: 'center'
    },
react-native-toast-message/lib/src/components/AnimatedContainer.styles.js

[2022-09-08 13:59] Jigalag commented on #407
Or make it higher by default, please
Using Stripe and Stripe overlay higher than Toast

[2022-09-10 08:32] HaithamOumerzoug commented on #398
You have to specify the toast title.
`
 const showToast = (type, title, body) => {
    Toast.show({
      type: type,
      text1: title,
      text2: body,
     // other options
    });
  };
`

[2022-09-15 18:14] SeanRoberts commented on #407
Were you able to find a workaround for this? I'd like my toasts to appear above my modals

[2022-09-16 16:33] RGDEV2022 opened #408 "Can't dismiss inside React Navigation Modal"
Can't dismiss the modal inside a react navigation modal `presentation:'modal'`

Steps to reproduce the behavior:
1. Open a toast inside a modal and try dismiss it downwards

Video attached
https://user-images.githubusercontent.com/9930994/190686503-d9c15ee9-0336-409d-bde9-38eb593e114f.mov

I have included `<Toat />` inside `App.tsx` and after the `NavigatorContext`

Anyone know what's going on her

[2022-09-16 17:59] RGDEV2022 commented on #408
Package versions:

"expo": "^45.0.0",
"react-native": "0.68.2",
"react-native-toast-message": "^2.1.5",
"@react-navigation/drawer": "^6.4.3",
"@react-navigation/native": "^6.0.2",
"@react-navigation/native-stack": "^6.1.0",
"@react-navigation/stack": "^6.2.3",

[2022-09-17 20:04] jacksonHendric commented on #408
Seems to be an issue with using react native navigation `native-stack` on `ios` since the whole card (modal) is a target to pull down to dismiss. This interferes with the toast message swipe gesture.

Any way to solve this? Maybe a callback for the toast where you can know when the toast is being swiped so that gestures for the modal can be disabled?

[2022-09-19 15:02] wouterds commented on #300
Confirmed it still occurs on 2.2.0-beta2. When exiting the app by clicking the home button a toast will temporarily popup.

[2022-09-19 18:22] go-sean-go opened #409 "`topoffset` does not respect Safe Area on iOS (default value no longer appropriate for Dynamic Island, aka iPhone 14 Pro)"
**Describe the bug**
The default value for `topOffset` is 40, when really it should respect and read from the Safe Area. For reference, the notch on iPhone 13 and earlier was 47pt high, but the SafeArea on the new iPhone 14 Pro with Dynamic Island is 59pt high.

I can't find any part of the library's code that takes Safe Area into consideration, but maybe I'm missing it. No matter the implementati

[2022-09-22 12:18] alicja99 opened #412 "Toast message does not display correctly '/' character"
**Describe the bug**
Toast message does not display correctly '/' character

**Steps to reproduce**
Steps to reproduce the behavior:
Display toast message

**Expected behavior**
Toast message should display '/' character

**Screenshots**
<img width="415" alt="Zrzut ekranu 2022-09-22 o 13 56 50" src="https://user-images.githubusercontent.com/45905489/191742462-14714727-cdf5-480a-9808-9b6ad7c1ae61.p

[2022-10-01 14:46] Tucker2015 commented on #409
You can change topOffset default in

/node_modules/react-native-toast-message/lib/src/useToast.js

I have set it at 55.

[2022-10-04 14:19] AndreiBacescu commented on #300
Is not only iOS but Android too.

[2022-10-10 12:43] ivan-zeller commented on #37
https://github.com/calintamas/react-native-toast-message/pull/410

[2022-10-12 02:15] judeatmerit opened #418 "On react-native-web, `<Toast position="bottom"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Tap on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code sample**
To help debugging,

[2022-10-13 02:29] heinst commented on #412
I just copy and pasted your example into an expo.dev snack and seems to be working as expected. Your screenshot also looks different than the example code you gave. @alicja99 Is this still an issue?

[2022-10-13 03:08] heinst commented on #355
This can probably be closed dude to lack of info...

[2022-10-14 05:31] ajaysaini-sgvu commented on #406
I am also facing same issue. Items behind the custom toast are not clickable.

[2022-10-16 11:43] KilianB commented on #407
If react-natives zIndex works similar to css, the value is relative to the next parent stack context. So you might get lucky by wrapping your Toast component inside a view with a high zIndex itself.

[2022-10-17 22:16] RGDEV2022 opened #419 "Toast appears behind the modal"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
Steps to reproduce the behavior:
Create a modal using
<Portal></Portal>

Now you have a Modal component

Add   <Toast config={toastConfig} /> before the closing tag of the modal </Modal>

Toast appears behind the modal.

**Expected behavior**
Should appear in front

**Environment (please complete the f

[2022-10-20 10:25] #224 closed

[2022-10-20 16:48] Niltonsf commented on #214
This issue didn't seem to be resolved, I'm using the toast at the bottom, and when it hides I am still able to push it from above the screen.

[2022-10-21 00:26] Chuabacca commented on #409
A better way to do this is to create a [custom layout](https://github.com/calintamas/react-native-toast-message/blob/HEAD/docs/custom-layouts.md) and add at least 10 to the top margin of the various toast components.

[2022-10-21 00:53] Chuabacca commented on #409
This probably isn't the best way, but we could check for the exact dimensions of the iPhone 14 Pro screen and adjust the top offset like this.

[2022-10-21 19:26] pankaj-ch commented on #130
If anyone stumbles upon this in the future, as I did, and seeks the solution. Here's the workaround.
Set props `text1NumberOfLines` and `text2NumberOfLines` to 0 so it can ignore the ellipsis. More on that at https://reactnative.dev/docs/text#numberoflines

e.g.
[code]

@calintamas, I loved this repo :)
Here's my 2 cents. I believe these two component props should be defaulting to 0 instead of 1.

[2022-10-26 13:01] kiran-kumar011 commented on #409
Facing a similar issue in `iPhone 14 Pro` simulator as well.

<img width="344" alt="Screenshot 2022-10-26 at 6 29 00 PM" src="https://user-images.githubusercontent.com/44568253/198032201-4c93f44f-476c-4feb-83c4-b15d2ccc4ac6.png">

[2022-11-03 07:26] sumitsharma7667 opened #424 "warning null is not an object (evaluating 'Toast._ref.show')"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Tap on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code sample**
To help debugging,

[2022-11-04 10:14] kv77724-dot commented on #419
#226

[2022-11-04 11:06] RGDEV2022 commented on #419
This is not related. That issue is focused around a system level modal.

Is this project maintained anymore? Seems to have a lot of issues for a
simple toast library. The author did great work but I have been able to
re-create a similar feature with far less bugs.

Has anyone taken a look at why there are so many bugs related to the toast
component not having a context of the screen its in?

It’s

[2022-11-04 20:54] omarqe commented on #344
Is there any updates on this matter?

I tried wrapping `Toast` inside `KeyboardAvoidingView` and it does the trick. But this automatic keyboard avoiding behaviour makes it look much more glitchy. Having the ability to turn this off anytime soon would definitely improve the UX.

[2022-11-09 20:38] thanveershah commented on #50
Is changing the background possible now?

[2022-11-10 09:48] alex-mironov commented on #419
Did anyone manage to fix this issue?

[2022-11-10 13:42] vijaygojiya opened #426 "● renders correctly Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object. Check the render method of `PopupNotification`."
import React from 'react';
import { FlatList, Image, View } from 'react-native';
import Toast from 'react-native-toast-message';

import MAIN_IMAGES from '../../modules/main/assets/images';
import { passwordErrors } from '../../modules/main/src/mainConstant';
import ItemValidationError from '../itemValidationError';
import ParagraphText from '../paragraphText';
import styles from './styles';

cons

[2022-11-10 13:43] vijaygojiya commented on #426
test cases are failing
![image](https://user-images.githubusercontent.com/101892538/201107378-31ebfc62-1daf-43cd-9023-b49b7f9516eb.png)

[2022-11-11 07:58] vijaygojiya commented on #209
hey @cabelin  can you help me for write mock for my component here is my code :

`// App.jsx
import React from 'react';
import { FlatList, Image, View } from 'react-native';
import Toast from 'react-native-toast-message';

import MAIN_IMAGES from '../../modules/main/assets/images';
import { passwordErrors } from '../../modules/main/src/mainConstant';
import ItemValidationError from '../itemValidat

[2022-11-12 00:07] Hostname47 opened #427 "RTL support"
I'm using i18n on my application, and in case the language is arabic, I want to show the toast in rtl manner (left colored border should become on the right side in case of RTL).

[2022-11-13 11:16] DarkBones commented on #418
Facing the same problem. Any solutions/workarounds?

[2022-11-14 06:12] vijaygojiya commented on #426
Resolved by mock the component

  const MockPopUpNotification = 'PopupNotification' as unknown as React.FC;
  return <MockPopUpNotification />;
});

[2022-11-19 09:10] Shubham-1994 opened #428 "Toast pop up randomly when other popup/dialog opens"
**Describe the bug**
I have declared Toast component in the Root Container. Because of this while any other dialog or popup like Android Permission dialog appears on screen, an Empty toast also shows on top of screen.

**Expected behavior**
Toast should not be displayed until Toast.show is called

**Environment (please complete the following information):**
 - OS: Android
 - react-native-toast-mes

[2022-11-27 21:46] apapalillo opened #430 "8px bottom offset"
Hi, I have updated react-native-toast-message from 1.4.9 to the latest version (2.1.5). I've noticed it has a bottom offset of approximately 8px now.

I've checked the config and it has bottomOffset set to 0 but I'm still having that extra margin after updating.

The root view of my custom Toast only has a 100% width attribute to its style, nothing else.

I can't find why is that. It's an intended

[2022-11-28 16:59] casq10pearls commented on #428
The same issue here.
could you please answer us something?

[2022-11-30 18:11] vatsalya-honeycomb commented on #428
I am also able to reproduce it in Android, IOS works fine.